<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<!-- Head start -->

<!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->

<!-- Head end -->



<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<!-- Logo -->
			<a th:href="@{/}" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>EWSD</b></span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-envelope-o"></i> <span class="label label-success">4</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 4 messages</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- start message --> <a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Support Team <small><i class="fa fa-clock-o"></i> 5
														mins</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a>
										</li>
										<!-- end message -->
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													AdminLTE Design Team <small><i
														class="fa fa-clock-o"></i> 2 hours</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Developers <small><i class="fa fa-clock-o"></i>
														Today</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Sales Department <small><i class="fa fa-clock-o"></i>
														Yesterday</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Reviewers <small><i class="fa fa-clock-o"></i> 2
														days</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">See All Messages</a></li>
							</ul></li>
						<!-- Notifications: style can be found in dropdown.less -->
						<li class="dropdown notifications-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-bell-o"></i> <span class="label label-warning">10</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 10 notifications</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li><a href="#"> <i class="fa fa-users text-aqua"></i>
												5 new members joined today
										</a></li>
										<li><a href="#"> <i class="fa fa-warning text-yellow"></i>
												Very long description here that may not fit into the page
												and may cause design problems
										</a></li>
										<li><a href="#"> <i class="fa fa-users text-red"></i>
												5 new members joined
										</a></li>
										<li><a href="#"> <i
												class="fa fa-shopping-cart text-green"></i> 25 sales made
										</a></li>
										<li><a href="#"> <i class="fa fa-user text-red"></i>
												You changed your username
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">View all</a></li>
							</ul></li>
						<!-- Tasks: style can be found in dropdown.less -->
						<li class="dropdown tasks-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-flag-o"></i> <span class="label label-danger">9</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 9 tasks</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Design some buttons <small class="pull-right">20%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-aqua"
														style="width: 20%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">20% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Create a nice theme <small class="pull-right">40%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-green"
														style="width: 40%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">40% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Some task I need to do <small class="pull-right">60%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-red"
														style="width: 60%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">60% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Make beautiful transitions <small class="pull-right">80%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-yellow"
														style="width: 80%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">80% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
									</ul>
								</li>
								<li class="footer"><a href="#">View all tasks</a></li>
							</ul></li>
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
								class="user-image" alt="User Image"> <span
								class="hidden-xs" th:text="${usr.name}"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
									class="img-circle" alt="User Image">

									<p>
										<th:block th:text="${usr.name}"></th:block>
										<small>Member since Nov. 2012</small>
									</p></li>
								<!-- Menu Body -->
								<li class="user-body">
									<div class="row">
										<div class="col-xs-4 text-center">
											<a href="#">Followers</a>
										</div>
										<div class="col-xs-4 text-center">
											<a href="#">Sales</a>
										</div>
										<div class="col-xs-4 text-center">
											<a href="#">Friends</a>
										</div>
									</div> <!-- /.row -->
								</li>
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">Profile</a>
									</div>
									<div class="pull-right">
										<a th:href="@{/logout}" class="btn btn-default btn-flat">Sign
											out</a>
									</div>
								</li>
							</ul></li>
						<!-- Control Sidebar Toggle Button -->
						<li><a href="#" data-toggle="control-sidebar"><i
								class="fa fa-gears"></i></a></li>
					</ul>
				</div>
			</nav>
		</header>






		<!-- Left side column. contains the logo and sidebar -->



		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				Sidebar user panel
				<div class="user-panel">
					<div class="pull-left image">
						<img th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
							class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p th:text="${usr.name}"></p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				search form
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..."> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- 				/.search form sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu" data-widget="tree">

				</ul>
				<script type="text/javascript">
					$(".sidebar-menu").load("/travel-management/admin/main-admin-navigations");	
					$("#li-create-visiting-area").addClass("active");
				</script>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Dashboard <small>Control panel</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>


			<!-- Main content -->

			<section class="content">


				<div class="box box-info">
					<div class="box-header with-border">
						<h3 class="box-title">Create Visiting-area</h3>

					</div>

					<!-- /.box-header -->
					<!-- form start -->

					<form method="POST" th:action="@{/admin/create-visiting-area}"
						th:object="${visitingArea}" class="form-horizontal">
						<div class="box-body">
							<div th:if="${msg != ''}" span class="alert alert-success"
								th:text=${msg}></div>
							<div class="form-group">
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label for="visitingArea" class="control-label">Area
										name</label>
								</div>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="visitingArea"
										th:field="*{areaName}" placeholder="Visiting Area">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-1"></div>
								<div class="col-sm-3">
									<label for="destinationName" class="control-label">Destination
										name</label>
								</div>
								<div class="col-sm-6">
									<input type="text" class="form-control" id="destinationName"
										name="destinationName" placeholder="Destination">
								</div>
								<script th:inline="javascript">
									$("#destinationName").click(function(){
										var destNames=/*[[${destinationList}]]*/;
										autocomplete(document.getElementById("destinationName"), destNames);
									});
										
								</script>
							</div>
						</div>
						<!-- /.box-body -->
						<div class="box-footer">
							<button type="submit" class="btn btn-info pull-right">Create</button>
						</div>

						<!-- /.box-footer -->

					</form>
				</div>

				<div class="all-destinations"></div>
				<script type="text/javascript">
					$(".all-destinations").load("/travel-management/admin/view-visiting-areas");
				</script>
			</section>

			<!-- /.Ending Main content -->




			<section class="content" style="display: none;">
				<!-- Main row -->
				<div class="row">
					<!-- Left col -->
					<section class="col-lg-7 connectedSortable ui-sortable">
						<div class="nav-tabs-custom" style="cursor: move;">
							<div class="tab-content no-padding">
								<!-- Morris chart - Sales -->
								<div class="chart tab-pane active" id="revenue-chart"
									style="position: relative; height: 300px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

									<div class="morris-hover morris-default-style"
										style="display: none;"></div>
								</div>
								<div class="chart tab-pane" id="sales-chart"
									style="position: relative; height: 300px;">
									<svg height="342" version="1.1" width="512"
										xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink"
										style="overflow: hidden; position: relative;">
										<desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
										<defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
										<path fill="none" stroke="#3c8dbc"
											d="M315.289,243.33333333333331A93.33333333333333,93.33333333333333,0,0,0,403.51675519497707,180.44625304313007"
											stroke-width="2" opacity="0"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
										<path fill="#3c8dbc" stroke="#ffffff"
											d="M315.289,246.33333333333331A96.33333333333333,96.33333333333333,0,0,0,406.35264732624415,181.4248826052307L442.9041459070204,194.03833029452744A135,135,0,0,1,315.289,285Z"
											stroke-width="3"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<path fill="none" stroke="#f56954"
											d="M403.51675519497707,180.44625304313007A93.33333333333333,93.33333333333333,0,0,0,231.5738462783141,108.73398312817662"
											stroke-width="2" opacity="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 1;"></path>
										<path fill="#f56954" stroke="#ffffff"
											d="M406.35264732624415,181.4248826052307A96.33333333333333,96.33333333333333,0,0,0,228.88300205154565,107.40757544301087L189.71626941747115,88.10097469226493A140,140,0,0,1,447.6306327924656,195.6693795646951Z"
											stroke-width="3"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<path fill="none" stroke="#00a65a"
											d="M231.5738462783141,108.73398312817662A93.33333333333333,93.33333333333333,0,0,0,315.2596784690488,243.333328727518"
											stroke-width="2" opacity="0"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); opacity: 0;"></path>
										<path fill="#00a65a" stroke="#ffffff"
											d="M228.88300205154565,107.40757544301087A96.33333333333333,96.33333333333333,0,0,0,315.2587359912682,246.3333285794739L315.2465884998742,284.9999933380171A135,135,0,0,1,194.2010097954186,90.31165416754118Z"
											stroke-width="3"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<text x="315.289" y="140" text-anchor="middle"
											font-family="&quot;Arial&quot;" font-size="15px"
											stroke="none" fill="#000000"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 15px; font-weight: 800;"
											font-weight="800" transform="matrix(1,0,0,1,0,0)">
										<tspan dy="140"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">In-Store Sales</tspan></text>
										<text x="315.289" y="160" text-anchor="middle"
											font-family="&quot;Arial&quot;" font-size="14px"
											stroke="none" fill="#000000"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: Arial; font-size: 14px;"
											transform="matrix(1,0,0,1,0,0)">
										<tspan dy="160"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">30</tspan></text></svg>
								</div>
							</div>
						</div>

						<div class="box box-solid bg-teal-gradient">

							<div class="box-body border-radius-none">
								<div class="chart" id="line-chart"
									style="height: 250px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
									<svg height="250" version="1.1" width="400"
										xmlns="http://www.w3.org/2000/svg"
										xmlns:xlink="http://www.w3.org/1999/xlink"
										style="overflow: hidden; position: relative; left: -0.578125px; top: -0.59375px;">
										<desc style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">Created with Raphaël 2.2.0</desc>
										<defs style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></defs>
										<text x="41" y="214" text-anchor="end" font-family="Open Sans"
											font-size="10px" stroke="none" fill="#ffffff"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;"
											font-weight="normal">
										<tspan dy="3.5"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">0</tspan></text>
										<path fill="none" stroke="#efefef" d="M53.5,214H375.406"
											stroke-width="0.4"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<text x="41" y="166.75" text-anchor="end"
											font-family="Open Sans" font-size="10px" stroke="none"
											fill="#ffffff"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;"
											font-weight="normal">
										<tspan dy="3.5"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">5,000</tspan></text>
										<path fill="none" stroke="#efefef" d="M53.5,166.75H375.406"
											stroke-width="0.4"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<text x="41" y="119.5" text-anchor="end"
											font-family="Open Sans" font-size="10px" stroke="none"
											fill="#ffffff"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;"
											font-weight="normal">
										<tspan dy="3.5"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">10,000</tspan></text>
										<path fill="none" stroke="#efefef" d="M53.5,119.5H375.406"
											stroke-width="0.4"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<text x="41" y="72.25" text-anchor="end"
											font-family="Open Sans" font-size="10px" stroke="none"
											fill="#ffffff"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;"
											font-weight="normal">
										<tspan dy="3.5"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">15,000</tspan></text>
										<path fill="none" stroke="#efefef" d="M53.5,72.25H375.406"
											stroke-width="0.4"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<text x="41" y="25" text-anchor="end" font-family="Open Sans"
											font-size="10px" stroke="none" fill="#ffffff"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: end; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;"
											font-weight="normal">
										<tspan dy="3.5"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">20,000</tspan></text>
										<path fill="none" stroke="#efefef" d="M53.5,25H375.406"
											stroke-width="0.4"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<text x="316.34426731470234" y="226.5" text-anchor="middle"
											font-family="Open Sans" font-size="10px" stroke="none"
											fill="#ffffff"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;"
											font-weight="normal" transform="matrix(1,0,0,1,0,5.5)">
										<tspan dy="3.5"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2013</tspan></text>
										<text x="173.18801458080196" y="226.5" text-anchor="middle"
											font-family="Open Sans" font-size="10px" stroke="none"
											fill="#ffffff"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0); text-anchor: middle; font-family: &quot;Open Sans&quot;; font-size: 10px; font-weight: normal;"
											font-weight="normal" transform="matrix(1,0,0,1,0,5.5)">
										<tspan dy="3.5"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);">2012</tspan></text>
										<path fill="none" stroke="#efefef"
											d="M53.5,188.8063C62.49615795868773,188.5417,80.48847387606318,190.4009875,89.48463183475091,187.74790000000002C98.48078979343865,185.09481250000002,116.4731057108141,168.75624016393445,125.46926366950183,167.5816C134.36763730255166,166.41972766393442,152.1643845686513,180.6438625,161.06275820170112,178.40185C169.96113183475092,176.1598375,187.75787910085057,151.8811350409836,196.65625273390037,149.6455C205.6524106925881,147.3852975409836,223.64472660996356,158.0678125,232.64088456865127,160.4185C241.63704252733902,162.7691875,259.6293584447145,179.6189893442623,268.62551640340223,168.451C277.52389003645203,157.4044018442623,295.32063730255163,78.52883321823202,304.21901093560143,71.56015C313.0196002430133,64.66804571823204,330.6207788578372,105.24937403846154,339.4213681652491,113.00785C348.4175261239368,120.93873653846154,366.4098420413123,128.9901625,375.406,134.3176"
											stroke-width="2"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path>
										<circle cx="53.5" cy="188.8063" r="4" fill="#efefef"
											stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="89.48463183475091" cy="187.74790000000002" r="4"
											fill="#efefef" stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="125.46926366950183" cy="167.5816" r="4"
											fill="#efefef" stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="161.06275820170112" cy="178.40185" r="4"
											fill="#efefef" stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="196.65625273390037" cy="149.6455" r="4"
											fill="#efefef" stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="232.64088456865127" cy="160.4185" r="4"
											fill="#efefef" stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="268.62551640340223" cy="168.451" r="4"
											fill="#efefef" stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="304.21901093560143" cy="71.56015" r="4"
											fill="#efefef" stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="339.4213681652491" cy="113.00785" r="4"
											fill="#efefef" stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle>
										<circle cx="375.406" cy="134.3176" r="4" fill="#efefef"
											stroke="#efefef" stroke-width="1"
											style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></circle></svg>
									<div class="morris-hover morris-default-style"
										style="display: none;"></div>
								</div>
							</div>

							<!-- /.box-footer -->
						</div>
						<!-- /.box -->


					</section>
					<!-- right col -->
				</div>
				<!-- /.row (main row) -->

			</section>






		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 2.4.0
			</div>
			<strong>Copyright &copy; 2014-2016 <a
				href="https://adminlte.io">Almsaeed Studio</a>.
			</strong> All rights reserved.
		</footer>

		<!-- Control Sidebar -->
		<aside class="control-sidebar control-sidebar-dark">
			<!-- Create the tabs -->
			<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
				<li><a href="#control-sidebar-home-tab" data-toggle="tab"><i
						class="fa fa-home"></i></a></li>
				<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
						class="fa fa-gears"></i></a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<!-- Home tab content -->
				<div class="tab-pane" id="control-sidebar-home-tab">
					<h3 class="control-sidebar-heading">Recent Activity</h3>
					<ul class="control-sidebar-menu">
						<li><a href="javascript:void(0)"> <i
								class="menu-icon fa fa-birthday-cake bg-red"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

									<p>Will be 23 on April 24th</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="menu-icon fa fa-user bg-yellow"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Frodo Updated His
										Profile</h4>

									<p>New phone +1(800)555-1234</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="menu-icon fa fa-envelope-o bg-light-blue"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Nora Joined Mailing
										List</h4>

									<p>nora@example.com</p>
								</div>
						</a></li>
						<li><a href="javascript:void(0)"> <i
								class="menu-icon fa fa-file-code-o bg-green"></i>

								<div class="menu-info">
									<h4 class="control-sidebar-subheading">Cron Job 254
										Executed</h4>

									<p>Execution time 5 seconds</p>
								</div>
						</a></li>
					</ul>
					<!-- /.control-sidebar-menu -->

					<h3 class="control-sidebar-heading">Tasks Progress</h3>
					<ul class="control-sidebar-menu">
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Custom Template Design <span
										class="label label-danger pull-right">70%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-danger"
										style="width: 70%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Update Resume <span class="label label-success pull-right">95%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-success"
										style="width: 95%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Laravel Integration <span
										class="label label-warning pull-right">50%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-warning"
										style="width: 50%"></div>
								</div>
						</a></li>
						<li><a href="javascript:void(0)">
								<h4 class="control-sidebar-subheading">
									Back End Framework <span class="label label-primary pull-right">68%</span>
								</h4>

								<div class="progress progress-xxs">
									<div class="progress-bar progress-bar-primary"
										style="width: 68%"></div>
								</div>
						</a></li>
					</ul>
					<!-- /.control-sidebar-menu -->

				</div>
				<!-- /.tab-pane -->
				<!-- Stats tab content -->
				<div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab
					Content</div>
				<!-- /.tab-pane -->
				<!-- Settings tab content -->
				<div class="tab-pane" id="control-sidebar-settings-tab">
					<form method="post">
						<h3 class="control-sidebar-heading">General Settings</h3>

						<div class="form-group">
							<label class="control-sidebar-subheading"> Report panel
								usage <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Some information about this general settings option</p>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Allow mail
								redirect <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Other sets of options are available</p>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Expose author
								name in posts <input type="checkbox" class="pull-right" checked>
							</label>

							<p>Allow the user to show his name in blog posts</p>
						</div>
						<!-- /.form-group -->

						<h3 class="control-sidebar-heading">Chat Settings</h3>

						<div class="form-group">
							<label class="control-sidebar-subheading"> Show me as
								online <input type="checkbox" class="pull-right" checked>
							</label>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Turn off
								notifications <input type="checkbox" class="pull-right">
							</label>
						</div>
						<!-- /.form-group -->

						<div class="form-group">
							<label class="control-sidebar-subheading"> Delete chat
								history <a href="javascript:void(0)" class="text-red pull-right"><i
									class="fa fa-trash-o"></i></a>
							</label>
						</div>
						<!-- /.form-group -->
					</form>
				</div>
				<!-- /.tab-pane -->
			</div>
		</aside>
		<!-- /.control-sidebar -->
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->
	<script type="text/javascript" src="resources/contents/js/autocomplete.js"></script>
	<!--/*/ <th:block th:include="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
</body>
</html>
