<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->
</head>

<body class="hold-transition login-page">

<div class="login-box">
<div class="login-box-body">
  <div class="login-logo">
  <h1 class="login-box-msg"></h1>
  Log in
  </div>
  <!-- /.login-logo -->
  
    

    <form th:action="@{/login-processing}" method="post">
				<div th:if="${param.error}" class="alert alert-danger">
					Invalid username or password.</div>
				<div th:if="${param.logout}" class="alert alert-success">You
					have been logged out successfully.</div>

				<div class="form-group has-feedback">
        <input type="text" name="email" id="inputEmail" class="form-control" placeholder="Username or Email address" required/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <a class="pull-right" th:href="@{/reset-password}">I forgot my password</a><br>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<!-- jQuery 3 -->
<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap 3.3.7 -->
<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- iCheck -->
<script src="../../plugins/iCheck/icheck.min.js"></script>
<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>


</body>

<!--/*/ <th:block th:include="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
</html>