<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<!-- Head start -->

<!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->

<!-- Head end -->



<body class="hold-transition skin-blue sidebar-mini">
	<div class="" style="background-color: #222d32;">

		<header class="main-header">
			<!-- Logo -->
			<a th:href="@{/}" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>EWSD</b></span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-envelope-o"></i> <span class="label label-success">4</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 4 messages</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- start message --> <a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Support Team <small><i class="fa fa-clock-o"></i> 5
														mins</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a>
										</li>
										<!-- end message -->
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													AdminLTE Design Team <small><i
														class="fa fa-clock-o"></i> 2 hours</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Developers <small><i class="fa fa-clock-o"></i>
														Today</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Sales Department <small><i class="fa fa-clock-o"></i>
														Yesterday</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Reviewers <small><i class="fa fa-clock-o"></i> 2
														days</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">See All Messages</a></li>
							</ul></li>
						<!-- Notifications: style can be found in dropdown.less -->
						<li class="dropdown notifications-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-bell-o"></i> <span class="label label-warning">10</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 10 notifications</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li><a href="#"> <i class="fa fa-users text-aqua"></i>
												5 new members joined today
										</a></li>
										<li><a href="#"> <i class="fa fa-warning text-yellow"></i>
												Very long description here that may not fit into the page
												and may cause design problems
										</a></li>
										<li><a href="#"> <i class="fa fa-users text-red"></i>
												5 new members joined
										</a></li>
										<li><a href="#"> <i
												class="fa fa-shopping-cart text-green"></i> 25 sales made
										</a></li>
										<li><a href="#"> <i class="fa fa-user text-red"></i>
												You changed your username
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">View all</a></li>
							</ul></li>
						<!-- Tasks: style can be found in dropdown.less -->
						<li class="dropdown tasks-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-flag-o"></i> <span class="label label-danger">9</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 9 tasks</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Design some buttons <small class="pull-right">20%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-aqua"
														style="width: 20%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">20% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Create a nice theme <small class="pull-right">40%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-green"
														style="width: 40%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">40% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Some task I need to do <small class="pull-right">60%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-red"
														style="width: 60%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">60% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Make beautiful transitions <small class="pull-right">80%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-yellow"
														style="width: 80%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">80% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
									</ul>
								</li>
								<li class="footer"><a href="#">View all tasks</a></li>
							</ul></li>
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
								class="user-image" alt="User Image"> <span
								class="hidden-xs" th:text="${usr.name}"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
									class="img-circle" alt="User Image">

									<p>
										<th:block th:text="${usr.name}"></th:block>
									</p></li>
								<!-- Menu Body -->

								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">Profile</a>
									</div>
									<div class="pull-right">
										<a th:href="@{/logout}" class="btn btn-default btn-flat">Sign
											out</a>
									</div>
								</li>
							</ul></li>
						<!-- Control Sidebar Toggle Button -->

					</ul>
				</div>
			</nav>
		</header>






		<!-- Left side column. contains the logo and sidebar -->



		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				Sidebar user panel
				<div class="user-panel">
					<div class="pull-left image">
						<img th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
							class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p th:text="${usr.name}"></p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<!-- 				search form -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..."> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- 				/.search form sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu" data-widget="tree">


					<li class="header">MAIN NAVIGATION</li>



					<!-- 					<li class="active treeview menu-open"><a href="#"> <i -->
					<!-- 							class="fa fa-dashboard"></i> <span>Manage Roles</span> <span -->
					<!-- 							class="pull-right-container"> <i -->
					<!-- 								class="fa fa-angle-left pull-right"></i> -->
					<!-- 						</span> -->
					<!-- 					</a> -->
					<!-- 						<ul class="treeview-menu"> -->
					<!-- 							<li class="active"><a th:href="@{/admin/create-role}"><i -->
					<!-- 									class="fa fa-circle-o"></i> Create Role</a></li> -->
					<!-- 							<li><a th:href="@{/admin/view-all-roles}"><i -->
					<!-- 									class="fa fa-circle-o"></i> View All Roles</a></li> -->
					<!-- 						</ul></li> -->
					<!-- 					<li class="treeview"><a href="#"> <i class="fa fa-files-o"></i> -->
					<!-- 							<span>Manage Tags</span> <span class="pull-right-container"> -->
					<!-- 								<i class="fa fa-angle-left pull-right"></i> -->
					<!-- 						</span> -->
					<!-- 					</a> -->
					<!-- 						<ul class="treeview-menu"> -->
					<!-- 							<li><a th:href="@{/admin/create-tag}"><i -->
					<!-- 									class="fa fa-circle-o"></i> Create Tag</a></li> -->
					<!-- 							<li><a th:href="@{/admin//view-all-tags}"><i -->
					<!-- 									class="fa fa-circle-o"></i> View Tags</a></li> -->
					<!-- 						</ul></li> -->



				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					QA <small>Board</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>


			<!-- Main content -->



			<section class="content">
				<div class="row">

					<!-- /.col -->
					<div class="col-md-7">
						<div class="nav-tabs-custom">

							<div class="tab-content">

								<div class="timeline-item post">

									<h3 class="timeline-header">
										<a th:href="@{/profile(id=${timeline.postedBy.username})}"
											th:text="${timeline.postedBy.name}"></a> Posted
									</h3>
									<span class="time" th:text=" ${timeline.time}"><i
										class="fa fa-clock-o"></i> </span>
									<div class="timeline-body">
										<h3 th:text="${timeline.idea.ideaTitle}"></h3>
										<span th:utext="${timeline.idea.ideaBody}"></span>

										<div class="col-sm-12">


											<div class="row">

												<th:block
													th:each="attachment : ${timeline.idea.attachments}">
													<div th:class="col-sm-3">
														<th:block
															th:if="${#strings.contains(attachment.fileType,'image')}">
															<img class="img-responsive" width="80"
																th:src="@{/file(fileId=${attachment.attachmentId})}"
																alt="Photo">
														</th:block>
														<th:block
															th:if="${#strings.contains(attachment.fileType,'video')}">

															<a href="#"
																th:id="${'view_video_anchor_'+attachment.attachmentId}"
																data-toggle="modal"
																th:attr="data-target=${'#view_video_'+attachment.attachmentId}"><video
																	width="150" controls>
																	<source
																		th:src="@{/file(fileId=${attachment.attachmentId})}"
																		th:type="${attachment.fileType}">
																</video></a>
															<!-- ####################################		Start of View video Modal		############################################ -->
															<div class="modal" data-backdrop="static"
																data-keyboard="false"
																th:id="${'view_video_'+attachment.attachmentId}"
																role="dialog">
																<div class="modal-dialog">

																	<!-- Modal content-->
																	<div class="modal-content">
																		<div class="modal-header">
																			<button
																				th:id="${'close-vid-modal'+attachment.attachmentId}"
																				type="button" class="close" data-dismiss="modal">&times;</button>
																			<h4 class="modal-title" id="modal-title">Videos</h4>
																		</div>
																		<div class="modal-body" id="modal-body">
																			<div class="row">
																				<div class="col-sm-12">
																					<video
																						th:id="${'vid-product'+attachment.attachmentId }"
																						width="450px" height="380px" controls>
																						<source id="source"
																							th:src="@{/file(fileId=${attachment.attachmentId})}"
																							th:type="${attachment.fileType}">
																					</video>
																				</div>
																				&nbsp; &nbsp;
																				<div class="row">
																					<div class="col-sm-12">
																						<div
																							th:id="${'videoListPreviewer'+attachment.attachmentId}"></div>
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
																<script type="text/javascript" th:inline="javascript">
											let viewVideoAnchor = 	/*[[${'view_video_anchor_'+attachment.attachmentId}]]*/;
											let attachmentId = /*[[${attachment.attachmentId}]]*/;
											let videoListPreviewer = /*[[${'videoListPreviewer'+attachment.attachmentId}]]*/;
											let vidProduct = /*[[${'vid-product'+attachment.attachmentId }]]*/;
											let closeVidModal = /*[[${'close-vid-modal'+attachment.attachmentId}]]*/;
											$('#'+viewVideoAnchor)
														.click(
																function() {
																	

																	var data = {}
																	var Form = this;
																	
																	$.ajax({
																				type : "POST",
																				url : "/ewsd/file?fileId="+attachmentId,
																				timeout : 100000,
																				dataType: 'binary',
																				beforeSend : function() {
																					if(document.getElementById("video_1")==null){
																						$('#'+videoListPreviewer).addClass('spinner');																						
																					}
																				},
																				success : function(data) {
																					
																					$('#'+videoListPreviewer).removeClass('spinner');
// 																					data = JSON.parse(data);
																					$('#'+videoListPreviewer).html("");
																					var len = data.length;
																					console.log(data);
																					var html = "";
																					var left = 0;
																					for (var i = 0; i < len; i++) {
																						html += ''
																								+ '<video style="margin-left: '+left+'px;" width="120px" height="110px;" data-vid_id="video_'+i+'" data-vid_url="'+data[i].videoUrl+'" id="video_'+i+'" src="'+data[i].videoUrl+'" type="video/mp4"></video>';
																						left = left+20;
																					}
																					$('#'+videoListPreviewer).append(html);
																					left = 0;
																					for (var i = 0; i < len; i++) {
																						var canvas = document.getElementById('canvas_'+ i);
																						var video = document.getElementById('video_'+ i);
																						
																						$("#video_"+ i).one('seeked', function() {
																						}).prop('currentTime', "30");
																					}
																					$("[data-vid_url]").click(
																							function() {
																								url = $(this).data("vid_url");
																								id= $(this).data("vid_id");
																								
																								$("[data-vid_url]").css("border","");
																								$("#"+id).css("border","3px solid #cd5643");
																								$('#'+vidProduct).attr("src", url);
																								
																								setTimeout(function(){
																								    document.getElementById(vidProduct).play();
																								}, 1000);
																							});
																					
																					$('#'+closeVidModal).click(function(){
																						document.getElementById(vidProduct).pause();
																					});
																					},
																					
																				error : function(e) {
																					console.log("ERROR: ", e);
																					$('#'+closeVidModal).click(function(){
																						document.getElementById(vidProduct).pause();
																					});
																				},
																				done : function(e) {
																					console.log("DONE");
																				}
																				
																			});
																});

														</script>
															</div>
															<!-- ####################################		End of View video Modal		############################################ -->

														</th:block>
													</div>
													<!-- /.col -->
												</th:block>
											</div>
											<!-- /.row -->
										</div>

										<p>
											<span>Category: </span>&nbsp; <span
												class="label label-danger"
												th:text="${timeline.idea.tag.tagName}"></span>
										</p>
									</div>
									<div class="timeline-footer">



										<ul class="list-inline">
											<li><a class="link-black text-sm"
												th:text="${'View full post'}"
												th:href="@{'/ideas/'+${timeline.idea.ideaId}}"> </a></li>
											<th:block>|
																	<li><span th:text="${timeline.totalThumbUp}"
													th:id="'idea_'+${timeline.idea.ideaId}+'_thumbup_count'"></span></li>
												<li><a href="#" onclick="onThumbUpClick(this)"
													th:id="'thumb-up_'+${timeline.idea.ideaId}"
													th:attr="data-pid=${timeline.idea.ideaId},
																		 data-total-tup=${timeline.totalThumbUp},
																		  data-user=${usr.username}, 
																		  data-reactionOfCurrentUser=${timeline.reactionOfCurrentUser}"
													class="link-black text-sm"><i
														class="fa fa-thumbs-o-up margin-r-5"></i> Thumb up</a></li>
											</th:block>
											<th:block>|
																	<li><span th:text="${timeline.totalThumbDown}"
													th:id="'idea_'+${timeline.idea.ideaId}+'_thumbdown_count'"></span></li>
												<li><a href="#" onclick="onThumbDownClick(this)"
													th:id="'thumb-down_'+${timeline.idea.ideaId}"
													th:attr="data-pid=${timeline.idea.ideaId}, 
																		 data-total-tdown=${timeline.totalThumbDown},
																		 data-user=${usr.username}, 
																		 data-reactionOfCurrentUser=${timeline.reactionOfCurrentUser}"
													class="link-black text-sm"><i
														class="fa fa-thumbs-o-down margin-r-5"></i> Thumb down</a> <script
														type="text/javascript" th:inline="javascript">
																			/*<![CDATA[*/
																		    var ideaId = /*[[${timeline.idea.ideaId}]]*/;
																			var reactionOfCurrentUser = /*[[${timeline.reactionOfCurrentUser}]]*/;
																			/*]]>*/
																			
																			if(reactionOfCurrentUser==0){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-down margin-r-5");
																			}else if(reactionOfCurrentUser==1){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-down margin-r-5");
																			}else if(reactionOfCurrentUser==2){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-down margin-r-5");
																			}

																			function onThumbUpClick(element){
																				console.log($(element).attr("data-pid"));
																				reactionOfCurrentUser = $(element).attr("data-reactionofcurrentuser");
																				
																				ideaId =$(element).attr("data-pid");
																				var uid=$(element).attr("data-user");
																				console.log("Idea ID = "+ideaId+"; Reaction Type = "+reactionOfCurrentUser);
																				var totalThumbsUp = $(element).attr("data-total-tup");
																				$("idea_"+ideaId+"_thumbup_count").text(totalThumbsUp);
																				
																				if(reactionOfCurrentUser!=1){
																					$("#idea_"+ideaId+"_thumbup_count").html(parseInt($("#idea_"+ideaId+"_thumbup_count").text())+1);
																					$("#thumb-up_"+ideaId+" > i").attr("class", "fa fa-thumbs-up margin-r-5");
																					if(reactionOfCurrentUser==2){
																						$("#idea_"+ideaId+"_thumbdown_count").html(parseInt($("#idea_"+ideaId+"_thumbdown_count").text())-1);
																						$("#thumb-down_"+ideaId+" > i").attr("class", "fa fa-thumbs-o-down margin-r-5");
																					}
																					document.querySelector("#thumb-up_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-up_"+ideaId).setAttribute("data-reactionofcurrentuser", "1");
																					document.querySelector("#thumb-down_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-down_"+ideaId).setAttribute("data-reactionofcurrentuser", "1");
																				}
																				$.ajax({
																					  type: "GET",
																					  url: "/ewsd/student/ideas/"+ideaId+"/reactions?uid="+uid+"&reactionType=1",
																				});
																		
																			}


																			function onThumbDownClick(element){
																				console.log($(element).attr("data-pid"));
																				reactionOfCurrentUser = $(element).attr("data-reactionOfCurrentUser");

																				ideaId =$(element).attr("data-pid");
																				var uid=$(element).attr("data-user");
																				console.log("Idea ID = "+ideaId+"; Reaction Type = "+reactionOfCurrentUser);
																				var totalThumbsDown = $(element).attr("data-total-tdown");
																				$("idea_"+ideaId+"_thumbdown_count").text(totalThumbsDown);
																				if(reactionOfCurrentUser!=2){
																					$("#idea_"+ideaId+"_thumbdown_count").html(parseInt($("#idea_"+ideaId+"_thumbdown_count").text())+1);
																					$("#thumb-down_"+ideaId+" > i").attr("class", "fa fa-thumbs-down margin-r-5");
																					if(reactionOfCurrentUser==1){
																						$("#idea_"+ideaId+"_thumbup_count").html(parseInt($("#idea_"+ideaId+"_thumbup_count").text())-1);
																						$("#thumb-up_"+ideaId+" > i").attr("class", "fa fa-thumbs-o-up margin-r-5");
																					}
																					document.querySelector("#thumb-up_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-up_"+ideaId).setAttribute("data-reactionofcurrentuser", "2");
																					document.querySelector("#thumb-down_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-down_"+ideaId).setAttribute("data-reactionofcurrentuser", "2");
// 																					
																				}
																				$.ajax({
																					  type: "GET",
																					  url: "/ewsd/student/ideas/"+ideaId+"/reactions?uid="+uid+"&reactionType=2",
																				});
																		
																			}
																			</script></li>
											</th:block>
											<br>
											<li>&nbsp;<a class="link-black text-sm"
												th:text="${'Views'}"
												th:href="@{/post(id=${timeline.idea.ideaId})}"> </a></li>
											<li>&nbsp;<span th:text="'100'"></span>
											</li>

											<li><a class="link-black text-sm" th:text="${'Seen By'}"
												th:href="@{/post(id=${timeline.idea.ideaId})}"> </a></li>
											<li>&nbsp;<span th:text="'50'"></span>&nbsp;
											</li>
											<li class="pull-right"><a href="#"
												class="link-black text-sm"><i
													class="fa fa-comments-o margin-r-5"></i> <span
													th:text="${'Comments ('+timeline.totalComments+')'}"></span></a></li>
										</ul>
										<hr>

										<div class="box-body chat"
											th:id="'load-comments_'+${timeline.idea.ideaId}">
											<th:block th:each="comment : ${timeline.idea.comments}">
												<th:block th:if="${comment.isAnonymous} == false ">
													<div class="item">
														<img
															th:src="@{/file/(fileId=${comment.commentedUser.userImage.attachmentId})}"
															alt="user image" class="offline">
														<p class="message">
															<a
																th:href="@{/profile(id=${comment.commentedUser.username})}"
																class="name"> <small class="text-muted pull-right"><i
																	class="fa fa-clock-o"></i> <span
																	th:text="${#dates.format(comment.commentDateTime.time, 'dd-MM-yyyy hh:mm:ss aaa')}"></span></small>
																<span th:text="${comment.commentedUser.name}"></span>
															</a> <span th:text="${comment.commentBody}"></span>
														</p>
													</div>
												</th:block>

												<th:block th:if="${comment.isAnonymous} == true ">
													<div class="item">
														<img th:src="@{/resources/contents/lib/img/anonymous.jpg}"
															alt="user image" class="offline">

														<p class="message">
															<a href="#" class="name"> <small
																class="text-muted pull-right"><i
																	class="fa fa-clock-o"></i> <span
																	th:text="${#dates.format(comment.commentDateTime.time, 'dd-MM-yyyy hh:mm:ss aaa')}"></span></small>
																<span th:text="${'Anonymous User'}"></span>
															</a> <span th:text="${comment.commentBody}"></span>
														</p>
													</div>
												</th:block>
												<hr>
											</th:block>
										</div>

										<th:block th:if="${timeline.tagExpired} == false ">
											<div>
												<input class="form-control input-sm"
													th:id="'input-comment_'+${timeline.idea.ideaId}"
													type="text" placeholder="Type a comment"
													onkeypress="onCommentPost(event, this)"> <br>
												<input type="checkbox"
													th:id="'anonymous-comment_'+${timeline.idea.ideaId}">
												&nbsp;&nbsp;Comment as anonymous <input
													class="pull-right btn btn-primary btn-sm btn-flat"
													type="submit" value="Comment"
													th:id="'button-submit_'+${timeline.idea.ideaId}" />

											</div>


											<div class="modal modal-danger fade" id="modal-danger">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h4 class="modal-title">Ops!</h4>
														</div>
														<div class="modal-body">
															<p>Sorry, the final closure date for this category
																has timed out.</p>
														</div>
														<div class="modal-footer">

															<button type="button"
																th:id="'modal-ok_'+${timeline.idea.ideaId}"
																class="btn btn-outline">Ok</button>
														</div>
													</div>
													<!-- /.modal-content -->
												</div>
												<!-- /.modal-dialog -->
											</div>


											<br>

											<script type="text/javascript" th:inline="javascript">
																
																function onCommentPost(e, commentBox){
																	var code = (e.keyCode ? e.keyCode : e.which);
																	if(code == 13) { //Enter keycode
																		var ideaId = $(commentBox).attr("id").split("_")[1];
																		var uid = /*[[${usr.username}]]*/;
																		var idea = /*[[${timeline.idea}]]*/;
																		var comment = {};
																		comment["commentId"] = new Date().getTime();
																		comment["idea"] = idea;
																		comment["commentDateTime"] = new Date().getTime();
																		comment["isAnonymous"] = $("#anonymous-comment_"+ideaId).prop("checked") ? true : false;
																		comment["commentedUser"] = /*[[${usr}]]*/;
																		comment["commentBody"] = $(commentBox).val();
																	 	console.log("#anonymous-comment_"+ideaId);
																		var url = "";
																		if($("#anonymous-comment_"+ideaId).prop("checked")==true){
																			url = "/ewsd/student/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=true";
																		}else{
																			url = "/ewsd/student/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=false";
																		}
																	 	$.ajax({
																             type: "POST",
																             contentType: "application/json",
																             url: url,
																             data: JSON.stringify(comment),
																             dataType: 'json',
																             timeout: 600000,
																             success: function (data) {
																                 console.log("Success");
																                 $(commentBox).val("");
																                 location.reload();
																             },
																             error: function (e) {
																                 console.log("Error : "+e.status);
																                 console.log(e);
																                 if(e.status==406){
																					$("#modal-ok_"+ideaId).click(function(){
																						location.reload();
																					});
																                 }
																             }
																	});
																		
																	}
																}

																var ideaId = /*[[${timeline.idea.ideaId}]]*/;
																
																$("#button-submit_"+ideaId).click(function(){
																	ideaId = /*[[${timeline.idea.ideaId}]]*/;
																	var uid = /*[[${usr.username}]]*/;
																	var idea = /*[[${timeline.idea}]]*/;
																	var comment = {};
																	comment["commentId"] = new Date().getTime();
																	comment["idea"] = idea;
																	comment["commentDateTime"] = new Date().getTime();
																	comment["isAnonymous"] = $("#anonymous-comment_"+ideaId).prop("checked") ? true : false;
																	comment["commentedUser"] = /*[[${usr}]]*/;
																	comment["commentBody"] = $("#input-comment_"+ideaId).val();
																 	console.log(comment);
																	var url = "";
																	if($("#anonymous-comment_"+ideaId).prop("checked")==true){
																		url = "/ewsd/student/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=true";
																	}else{
																		url = "/ewsd/student/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=false";
																	}
																 	$.ajax({
															             type: "POST",
															             contentType: "application/json",
															             url: url,
															             data: JSON.stringify(comment),
															             timeout: 600000,
															             success: function (data) {
															                 console.log("Success");
															                 console.log(data);
															                 $("#input-comment_"+ideaId).val("");
															                 location.reload();
															             },
															             error: function (e) {
															                 console.log("Error : "+e.status);
															                 console.log(e);
															                 if(e.status==406){
																				$("#modal-ok_"+ideaId).click(function(){
																					location.reload();
																				});
															                 }
															             }
																	});
																});
																	
																</script>
										</th:block>
									</div>
								</div>
							</div>
							<!-- /.tab-content -->
						</div>

						<!-- /.nav-tabs-custom -->
					</div>
					<!-- /.col -->


					<div class="col-md-5">

						<!-- ##########################################	Other uploads panel ###################################### -->
						<div class="box box-primary">
							<div class="box-body box-profile">
								<h4>Other uploads</h4>
								<hr>
								
								<th:block th:if="${#lists.size(otherAttachments)<1}">
									<p>No other attachments available.</p>
								</th:block>
								
								<th:block
									th:each="attachment, count : ${otherAttachments}">
									<a th:type="${attachment.fileType}" th:href="@{/file(fileId=${attachment.attachmentId})}" th:text="${'File '+count.count}"></a>
								</th:block>
							</div>
							<!-- /.box-body -->
						</div>


						<!-- ###############################################	All Ideas of this category	########################################## -->
						<div class="box box-primary">
							<div class="box-body box-profile">
								<th:block th:if="${#lists.size(ideas) > 0}">
									<h4>
										Tag : <span th:text="${ideas[0].tag.tagName}"></span>
									</h4>
									<h5>
										Total ideas : <span th:text="${#lists.size(ideas)}"></span>
									</h5>
								</th:block>
								<th:block th:each="idea : ${ideas}">
									<p>
										<a th:text="${idea.ideaTitle}"
											th:href="@{'/ideas/'+${idea.ideaId}}"></a>
									</p>
								</th:block>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->

						<!-- About Me Box -->

						<!-- /.box -->
					</div>
				</div>
			</section>

			<!-- /.Ending Main content -->




		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 2.4.0
			</div>
			<strong>Copyright &copy; 2014-2016 <a
				href="https://adminlte.io">Almsaeed Studio</a>.
			</strong> All rights reserved.
		</footer>


		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<!--/*/ <th:block th:include="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
</body>
</html>
