<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
<!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->
</head>

<body class="hold-transition login-page">

	<div class="login-box">
		<div class="login-box-body">
			<div class="login-logo">Update Password</div>
			<!-- /.login-logo -->



			<form th:action="@{/update-password}" method="post">
				<div th:if="${ok == 'false'}" class="alert alert-danger">The
					Passwords didn't match.</div>
				<div th:if="${ok == 'true'}" class="alert alert-success">
					Password updated successfully.<br>
					<p><a href="#" th:href="@{/login}">Click here to go to the login page.</a></p>
				</div>
				<th:block th:if="${ok == 'false' || ok == ''}">
					<input type="hidden" name="id" th:value="${id}">
					<div class="form-group has-feedback">
						<label for="inputPassword">Password</label> <input type="password"
							name="password" id="inputPassword" class="form-control"
							placeholder="Password" required autofocus /> <label
							for="inputRePassword">Re-Password</label> <input type="password"
							name="re_password" id="inputRePassword" class="form-control"
							placeholder="Password" required />

					</div>

					<div class="row">
						<!-- /.col -->
						<div class="col-xs-4">
							<button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
						</div>
						<!-- /.col -->
					</div>
				</th:block>
			</form>
		</div>
		<!-- /.login-box-body -->
	</div>
	<!-- /.login-box -->

	<!-- jQuery 3 -->
	<script src="../../bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- iCheck -->
	<script src="../../plugins/iCheck/icheck.min.js"></script>
	<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>


</body>

<!--/*/ <th:block th:include="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
</html>