<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      lang="en" xmlns="http://www.w3.org/1999/xhtml">

    <!-- Head start -->

    <!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->

    <!-- Head end -->


    <body class="hold-transition skin-blue sidebar-mini">
        <div class="" style="background-color: #222d32;">

            <header class="main-header">
                <!-- Logo -->
                <a th:href="@{/}" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
                    <span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
                    <span class="logo-lg"><b>EWSD</b></span>
                </a>
                <!-- Header Navbar: style can be found in header.less -->
                <nav class="navbar navbar-static-top">
                    <!-- Sidebar toggle button-->
                    <a href="#" class="sidebar-toggle" data-toggle="push-menu"
                       role="button"> <span class="sr-only">Toggle navigation</span>
                    </a>

                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            <!-- Messages: style can be found in dropdown.less-->
                            <li class="dropdown messages-menu"><a href="#"
                                                                  class="dropdown-toggle" data-toggle="dropdown"> <i
                                        class="fa fa-envelope-o"></i> <span class="label label-success">4</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 4 messages</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <!-- start message --> <a href="#">
                                                    <div class="pull-left">
                                                        <img
                                                            th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
                                                            class="img-circle" alt="User Image"/>
                                                    </div>
                                                    <h4>
                                                        Support Team <small><i class="fa fa-clock-o"></i> 5
                                                            mins</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a>
                                            </li>
                                            <!-- end message -->
                                            <li><a href="#">
                                                    <div class="pull-left">
                                                        <img
                                                            th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
                                                            class="img-circle" alt="User Image"/>
                                                    </div>
                                                    <h4>
                                                        AdminLTE Design Team <small><i
                                                                class="fa fa-clock-o"></i> 2 hours</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a></li>
                                            <li><a href="#">
                                                    <div class="pull-left">
                                                        <img
                                                            th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
                                                            class="img-circle" alt="User Image"/>
                                                    </div>
                                                    <h4>
                                                        Developers <small><i class="fa fa-clock-o"></i>
                                                            Today</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a></li>
                                            <li><a href="#">
                                                    <div class="pull-left">
                                                        <img
                                                            th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
                                                            class="img-circle" alt="User Image"/>
                                                    </div>
                                                    <h4>
                                                        Sales Department <small><i class="fa fa-clock-o"></i>
                                                            Yesterday</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a></li>
                                            <li><a href="#">
                                                    <div class="pull-left">
                                                        <img
                                                            th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
                                                            class="img-circle" alt="User Image"/>
                                                    </div>
                                                    <h4>
                                                        Reviewers <small><i class="fa fa-clock-o"></i> 2
                                                            days</small>
                                                    </h4>
                                                    <p>Why not buy a new awesome theme?</p>
                                                </a></li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">See All Messages</a></li>
                                </ul></li>
                            <!-- Notifications: style can be found in dropdown.less -->
                            <li class="dropdown notifications-menu"><a href="#"
                                                                       class="dropdown-toggle" data-toggle="dropdown"> <i
                                        class="fa fa-bell-o"></i> <span class="label label-warning">10</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 10 notifications</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li><a href="#"> <i class="fa fa-users text-aqua"></i>
                                                    5 new members joined today
                                                </a></li>
                                            <li><a href="#"> <i class="fa fa-warning text-yellow"></i>
                                                    Very long description here that may not fit into the page
                                                    and may cause design problems
                                                </a></li>
                                            <li><a href="#"> <i class="fa fa-users text-red"></i>
                                                    5 new members joined
                                                </a></li>
                                            <li><a href="#"> <i
                                                        class="fa fa-shopping-cart text-green"></i> 25 sales made
                                                </a></li>
                                            <li><a href="#"> <i class="fa fa-user text-red"></i>
                                                    You changed your username
                                                </a></li>
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all</a></li>
                                </ul></li>
                            <!-- Tasks: style can be found in dropdown.less -->
                            <li class="dropdown tasks-menu"><a href="#"
                                                               class="dropdown-toggle" data-toggle="dropdown"> <i
                                        class="fa fa-flag-o"></i> <span class="label label-danger">9</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li class="header">You have 9 tasks</li>
                                    <li>
                                        <!-- inner menu: contains the actual data -->
                                        <ul class="menu">
                                            <li>
                                                <!-- Task item --> <a href="#">
                                                    <h3>
                                                        Design some buttons <small class="pull-right">20%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-aqua"
                                                             style="width: 20%" role="progressbar" aria-valuenow="20"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">20% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item --> <a href="#">
                                                    <h3>
                                                        Create a nice theme <small class="pull-right">40%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-green"
                                                             style="width: 40%" role="progressbar" aria-valuenow="20"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">40% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item --> <a href="#">
                                                    <h3>
                                                        Some task I need to do <small class="pull-right">60%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-red"
                                                             style="width: 60%" role="progressbar" aria-valuenow="20"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">60% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                            <li>
                                                <!-- Task item --> <a href="#">
                                                    <h3>
                                                        Make beautiful transitions <small class="pull-right">80%</small>
                                                    </h3>
                                                    <div class="progress xs">
                                                        <div class="progress-bar progress-bar-yellow"
                                                             style="width: 80%" role="progressbar" aria-valuenow="20"
                                                             aria-valuemin="0" aria-valuemax="100">
                                                            <span class="sr-only">80% Complete</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <!-- end task item -->
                                        </ul>
                                    </li>
                                    <li class="footer"><a href="#">View all tasks</a></li>
                                </ul></li>
                            <!-- User Account: style can be found in dropdown.less -->
                            <li class="dropdown user user-menu"><a href="#"
                                                                   class="dropdown-toggle" data-toggle="dropdown"> <img
                                        class="user-image" alt="User Image"/> <span
                                        class="hidden-xs" th:text="${usr.name}"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <!-- User image -->
                                    <li class="user-header"><img class="img-circle"
                                                                 alt="User Image"/>

                                        <p>
                                            <th:block th:text="${usr.name}"></th:block>
                                        </p></li>
                                    <!-- Menu Body -->
                                    <!-- Menu Footer-->
                                    <li class="user-footer">
                                        <div class="pull-left">
                                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                                        </div>
                                        <div class="pull-right">
                                            <a th:href="@{/logout}" class="btn btn-default btn-flat">Sign
                                                out</a>
                                        </div>
                                    </li>
                                </ul></li>
                            <!-- Control Sidebar Toggle Button -->
                            <li><a href="#" data-toggle="control-sidebar"><i
                                        class="fa fa-gears"></i></a></li>
                        </ul>
                    </div>
                </nav>
            </header>






            <!-- Left side column. contains the logo and sidebar -->



            <aside class="main-sidebar">
                <!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    Sidebar user panel
                    <div class="user-panel">
                        <div class="pull-left image">
                            <img class="img-circle" alt="User Image"/>
                        </div>
                        <div class="pull-left info">
                            <p th:text="${usr.name}"></p>
                            <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                        </div>
                    </div>
                    <!-- 				search form -->
                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control"
                                   placeholder="Search..."/> <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn"
                                        class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                    <!-- 				/.search form sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu" data-widget="tree">


                        <li class="header">MAIN NAVIGATION</li>



                        <!-- 					<li class="active treeview menu-open"><a href="#"> <i -->
                        <!-- 							class="fa fa-dashboard"></i> <span>Manage Roles</span> <span -->
                        <!-- 							class="pull-right-container"> <i -->
                        <!-- 								class="fa fa-angle-left pull-right"></i> -->
                        <!-- 						</span> -->
                        <!-- 					</a> -->
                        <!-- 						<ul class="treeview-menu"> -->
                        <!-- 							<li class="active"><a th:href="@{/admin/create-role}"><i -->
                        <!-- 									class="fa fa-circle-o"></i> Create Role</a></li> -->
                        <!-- 							<li><a th:href="@{/admin/view-all-roles}"><i -->
                        <!-- 									class="fa fa-circle-o"></i> View All Roles</a></li> -->
                        <!-- 						</ul></li> -->
                        <!-- 					<li class="treeview"><a href="#"> <i class="fa fa-files-o"></i> -->
                        <!-- 							<span>Manage Tags</span> <span class="pull-right-container"> -->
                        <!-- 								<i class="fa fa-angle-left pull-right"></i> -->
                        <!-- 						</span> -->
                        <!-- 					</a> -->
                        <!-- 						<ul class="treeview-menu"> -->
                        <!-- 							<li><a th:href="@{/admin/create-tag}"><i -->
                        <!-- 									class="fa fa-circle-o"></i> Create Tag</a></li> -->
                        <!-- 							<li><a th:href="@{/admin//view-all-tags}"><i -->
                        <!-- 									class="fa fa-circle-o"></i> View Tags</a></li> -->
                        <!-- 						</ul></li> -->



                    </ul>
                </section>
                <!-- /.sidebar -->
            </aside>

            <!-- Content Wrapper. Contains page content -->
            <div class="content-wrapper">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        QA <small>Board</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Dashboard</li>
                    </ol>
                </section>


                <!-- Main content -->



                <section class="content">
                    <div class="row">

                        <!-- /.col -->
                        <div class="col-md-12">
                            <div class="nav-tabs-custom">
                                <div class="tab-content">

                                    <!-- /.tab-pane -->
                                    <div class="active tab-pane" id="settings">
                                        <div class="row">
                                            <div class="col-xs-12 col-xl-12 col-md-12 col-lg-12 col-sm-12">
                                                <form method="post" enctype="multipart/form-data"
                                                      action="/request-travel" th:action="@{/request-travel}"
                                                      th:object="${endUserData}">
                                                    <div th:if="${isOk=='true'}" class="alert alert-success">Travel
                                                        request was submitted successfully.</div>
                                                    <div th:if="${isOk=='true'}" class="alert alert-success"
                                                         th:text="${msg}"></div>

                                                    <div class="form-group">
                                                        <label for="inputDestination">Destination *</label> <select
                                                            th:field="*{travel.destination}"
                                                            class="form-control select2" id="inputDestination" style="width: 100%;">
                                                            <option
                                                                th:each="destination : ${endUserData.destinations}"
                                                                th:value="${destination}" th:text="${destination}"></option>
                                                        </select>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="inputPurpose">Purpose *</label> <input
                                                            type="text" class="form-control"
                                                            th:field="*{travel.purpose}" id="inputPurpose"
                                                            placeholder="Purpose" required="" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputvisitingArea">Visiting area *</label> 
                                                        <select
                                                            th:field="*{travel.visitingArea}"
                                                            class="form-control select2" id="inputVisitingArea" style="width: 100%;">
                                                            <option
                                                                th:each="destination : ${endUserData.destinations}"
                                                                th:value="${destination}" th:text="${destination}"></option>
                                                        </select>

                                                        <script type="text/javascript">
                                                            var destinationName = document.getElementById("inputDestination").value;

                                                            $.ajax({
                                                                url: "/travel-management/get-areas-by-destination/" + destinationName,
                                                                method: 'GET',
                                                                data: '',
                                                                success: function (data) {
                                                                    let areas = [];
                                                                    for (var i = 0; i < data.length; i++) {
                                                                        var item = {label: data[i].areaId, value: data[i].areaName};
                                                                        areas[i] = item;
                                                                    }
                                                                    /* Remove all options from the select list */
                                                                    $('#inputVisitingArea').empty();

                                                                    /* Insert the new ones from the array above */
                                                                    for (var i = 0; i < areas.length; i++) {
                                                                        var opt = document.createElement('option');
                                                                        opt.value = areas[i].label;
                                                                        opt.innerHTML = areas[i].value;
                                                                        document.getElementById("inputVisitingArea").appendChild(opt);
                                                                    }
                                                                    document.getElementById("inputVisitingArea").selectedIndex = 0;
                                                                    if (areas.length == 0) {
                                                                        var opt = document.createElement('option');
                                                                        opt.innerHTML = 'No location is available at this destination';
                                                                        document.getElementById("inputVisitingArea").appendChild(opt);
                                                                    }
                                                                },
                                                                failure: function (data) {
                                                                    console.log(data);
                                                                }
                                                            });

                                                            $("#inputDestination").change(function () {
                                                                var destinationName = document.getElementById("inputDestination").value;
                                                                $.ajax({
                                                                    url: "/travel-management/get-areas-by-destination/" + destinationName,
                                                                    method: 'GET',
                                                                    data: '',
                                                                    success: function (data) {
                                                                        let areas = [];
                                                                        for (var i = 0; i < data.length; i++) {
                                                                            var item = {label: data[i].areaId, value: data[i].areaName};
                                                                            areas[i] = item;
                                                                        }
                                                                        /* Remove all options from the select list */
                                                                        $('#inputVisitingArea').empty();
                                                                        /* Insert the new ones from the array above */
                                                                        for (var i = 0; i < areas.length; i++) {
                                                                            var opt = document.createElement('option');
                                                                            opt.value = areas[i].label;
                                                                            opt.innerHTML = areas[i].value;
                                                                            document.getElementById("inputVisitingArea").appendChild(opt);
                                                                        }
                                                                        document.getElementById("inputVisitingArea").selectedIndex = 0;
                                                                        if (areas.length == 0) {
                                                                            var opt = document.createElement('option');
                                                                            opt.innerHTML = 'No location is available at this destination';
                                                                            document.getElementById("inputVisitingArea").appendChild(opt);
                                                                        }
                                                                    },
                                                                    failure: function (data) {
                                                                        console.log(data);
                                                                    }
                                                                });
                                                                var visitingArea = $('#inputVisitingArea option:selected').val();
                                                                console.log(document.getElementById(inputVisitingArea));

                                                                var options = [];
                                                                $.ajax({
                                                                    url: '/travel-management/get-hotels-by-area/' + visitingArea,
                                                                    method: 'GET',
                                                                    data: '',
                                                                    success: function (data) {

                                                                        for (var i = 0; i < data.length; i++) {
                                                                            area = {label: data[i].hotelName, value: data[i].hotelId};
                                                                            options[i] = area;
                                                                        }

                                                                        /* Remove all options from the select list */
                                                                        $('#hotels').empty();
                                                                        /* Insert the new ones from the array above */
                                                                        for (var i = 0; i < options.length; i++) {
                                                                            var opt = document.createElement('option');
                                                                            opt.value = options[i].value;
                                                                            opt.innerHTML = options[i].label;
                                                                            document.getElementById("hotels").appendChild(opt);
                                                                        }
                                                                        document.getElementById("hotels").selectedIndex = 0;
                                                                        if (options.length == 0) {
                                                                            var opt = document.createElement('option');
                                                                            opt.innerHTML = 'No hotel is available nearby this location';
                                                                            opt.value = 0;
                                                                            document.getElementById("hotels").appendChild(opt);
                                                                        }
                                                                    }
                                                                });
                                                            });
                                                        </script>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Travel type</label><br> <input type="radio"
                                                                                              name="travel-type" value="International" /> International
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
                                                                type="radio" name="travel-type" value="Domestic" />
                                                            Domestic
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Travel Plan</label><br> <input type="radio"
                                                                                              name="travel-plan" onclick="onTravelPlanClick(this)"
                                                                                              value="Inside Dhaka" /> Inside Dhaka
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
                                                                type="radio" name="travel-plan"
                                                                onclick="onTravelPlanClick(this)" value="Outside Dhaka" />
                                                            Outside Dhaka
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Mode of Transport</label><br> <input
                                                                type="radio" name="mode-of-transport" value="Flight" />
                                                            Flight
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
                                                                type="radio" name="mode-of-transport" value="By Road" />
                                                            By Road
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input
                                                                type="radio" name="mode-of-transport" value="By River" />
                                                            By River
                                                    </div>

                                                    <div class="form-group">
                                                        <label>Any UK staff traveling?</label><br> <input
                                                                type="radio" name="uk-staff-travelling" value="Yes"
                                                                onclick="ukStaffTravelling(this)" /> Yes
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="radio" name="uk-staff-travelling"
                                                                   onclick="ukStaffTravelling(this)" value="No" /> No
                                                    </div>
                                                    <div class="form-group" id="uk-staff-name-div"></div>
                                                    <script th:inline="javascript">
                                                        function ukStaffTravelling(
                                                                input) {
                                                            var ukStaffNameDiv = document
                                                                    .getElementById("uk-staff-name-div");
                                                            var innerHtml = '<label>Please type UK staff name</label><br><input class=form-control value="" type=text id=display-uk-staff-name name=uk-staff-name /><br><input type=hidden id=input-uk-staff-username name=uk-staff-username />';
                                                            if (input.value == 'Yes') {
                                                                ukStaffNameDiv.innerHTML = innerHtml;
                                                                $(
                                                                        '#display-uk-staff-name')
                                                                        .keypress(
                                                                                function () {
                                                                                    var items = [];
                                                                                    $.ajax({
                                                                                        url: '/travel-management/staffs',
                                                                                        method: 'GET',
                                                                                        data: '',
                                                                                        success: function (data) {
                                                                                            for (var i = 0; i < data.length; i++) {
                                                                                                var item = {
                                                                                                    label: data[i].name,
                                                                                                    value: data[i].username
                                                                                                };
                                                                                                items[i] = item;
                                                                                            }
                                                                                        }
                                                                                    });
                                                                                    $("#display-uk-staff-name").autocomplete({
                                                                                        source: items,
                                                                                        select: function (event, ui) {
                                                                                            event.preventDefault();
                                                                                            $("#display-uk-staff-name").val(ui.item.label); // display the selected text
                                                                                            $("#input-uk-staff-username").val(ui.item.value); // save selected id to hidden input
                                                                                        }
                                                                                    });
                                                                                });
                                                            } else {
                                                                ukStaffNameDiv.innerHTML = '';
                                                            }
                                                        }
                                                    </script>
                                                    <div class="form-group">
                                                        <label>Meeting Type</label><br> <input type="radio"
                                                                                               name="meeting-type" value="Internal" /> Internal
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="radio" name="meeting-type" value="External" />
                                                            External
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Crowd involved? </label><br> <input
                                                                type="radio" name="crowd-involved" value="Yes" /> Yes
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="radio" name="crowd-involved" value="No" /> No
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputWBS">WBS Code *</label> <input
                                                            type="text" class="form-control"
                                                            th:field="*{travel.wbsCode}" id="inputWBS"
                                                            placeholder="WBS Code" required />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="travelling-date" class="control-label">Travelling
                                                            date</label> <input type="text" class="form-control"
                                                                            id="travelling-date" name="travelling-date"
                                                                            placeholder="DD/MM/YYYY" required />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="returning-date" class="control-label">Returning
                                                            date</label> <input type="text" class="form-control"
                                                                            id="returning-date" name="returning-date"
                                                                            placeholder="DD/MM/YYYY" required />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputIdeaTitle">Hotel preference *</label> <select id='hotels'
                                                                                                                       th:field="*{travel.prefferedHotel}"
                                                                                                                       class="form-control select2" style="width: 100%;">
                                                            <option th:each="hotel : ${endUserData.hotels}"
                                                                    th:value="${hotel}" th:text="${hotel}"></option>
                                                        </select>

                                                        <script type="text/javascript">

                                                            var options = [];
                                                            var visitingArea = $('#inputVisitingArea option:selected').val();
                                                            $.ajax({
                                                                url: '/travel-management/get-hotels-by-area/' + visitingArea,
                                                                method: 'GET',
                                                                data: '',
                                                                success: function (data) {
                                                                    for (var i = 0; i < data.length; i++) {
                                                                        area = {label: data[i].hotelName, value: data[i].hotelId};
                                                                        options[i] = area;
                                                                    }

                                                                    /* Remove all options from the select list */
                                                                    $('#hotels').empty();
                                                                    /* Insert the new ones from the array above */
                                                                    for (var i = 0; i < options.length; i++) {
                                                                        var opt = document.createElement('option');
                                                                        opt.value = options[i].value;
                                                                        opt.innerHTML = options[i].label;
                                                                        document.getElementById("hotels").appendChild(opt);
                                                                    }
                                                                    document.getElementById("hotels").selectedIndex = 0;
                                                                    if (options.length == 0) {
                                                                        var opt = document.createElement('option');
                                                                        opt.innerHTML = 'No hotel is available nearby this location';
                                                                        opt.value = 0;
                                                                        document.getElementById("hotels").appendChild(opt);
                                                                    }

                                                                }
                                                            });
                                                            $('#inputVisitingArea').change(function () {
                                                                var visitingArea = $('#inputVisitingArea option:selected').val();
                                                                var options = [];
                                                                $.ajax({
                                                                    url: '/travel-management/get-hotels-by-area/' + visitingArea,
                                                                    method: 'GET',
                                                                    data: '',
                                                                    success: function (data) {

                                                                        for (var i = 0; i < data.length; i++) {
                                                                            area = {label: data[i].hotelName, value: data[i].hotelId};
                                                                            options[i] = area;
                                                                        }

                                                                        /* Remove all options from the select list */
                                                                        $('#hotels').empty();
                                                                        /* Insert the new ones from the array above */
                                                                        for (var i = 0; i < options.length; i++) {
                                                                            var opt = document.createElement('option');
                                                                            opt.value = options[i].value;
                                                                            opt.innerHTML = options[i].label;
                                                                            document.getElementById("hotels").appendChild(opt);
                                                                        }
                                                                        document.getElementById("hotels").selectedIndex = 0;
                                                                        if (options.length == 0) {
                                                                            var opt = document.createElement('option');
                                                                            opt.innerHTML = 'No hotel is available nearby this location';
                                                                            opt.value = 0;
                                                                            document.getElementById("hotels").appendChild(opt);
                                                                        }
                                                                    }
                                                                });
                                                            });
                                                        </script>

                                                    </div>
                                                    <div class="form-group">
                                                        <label>Transport type </label><br> <input type="radio"
                                                                                                  name="transport-type" value="Pick up"
                                                                                                  onclick="onTransportTypeSelect(this)" /> Pick up
                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                            <input type="radio" name="transport-type"
                                                                   onclick="onTransportTypeSelect(this)" value="Drop" />
                                                            Drop
                                                    </div>
                                                    <div class="form-group"
                                                         id="transport-requirement-date-time-div"
                                                         style="display: none;">
                                                        <label>Please select date</label><br> <input
                                                                type="text" class="form-control"
                                                                id="transport-requirement-date"
                                                                name="transport-requirement-date" placeholder="DD/MM/YYYY"
                                                                required /> <br> <label>Please select time</label><br>
                                                                    <input type="text" name="transport-requirement-time"
                                                                           id="transport-requirement-time"
                                                                           class="timepicker form-control" />
                                                                    </div>



                                                                    <script th:inline="javascript">
                                                                        $(document).ready(function () {
                                                                            $('input.timepicker').timepicker({});
                                                                        });
                                                                        function onTransportTypeSelect(input) {
                                                                            if (input.value == 'Pick up') {
                                                                                $('#transport-requirement-date-time-div').css('display', 'block');
                                                                            } else {
                                                                                $('#transport-requirement-date-time-div').attr('display', 'block');
                                                                            }
                                                                        }
                                                                    </script>

                                                                    <div class="form-group">
                                                                        <label>Requested for</label><br> <input type="radio"
                                                                                                                name="requested-for" value="Self"
                                                                                                                onclick="onRequestedForClicked(this)" /> Self
                                                                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                            <input type="radio" name="requested-for"
                                                                                   onclick="onRequestedForClicked(this)" value="Other" />
                                                                            Other
                                                                    </div>
                                                                    <div class="form-group" id="select-person-requested-for-div"></div>

                                                                    <script th:inline="javascript">
                                                                        function onRequestedForClicked(
                                                                                input) {
                                                                            var selectPersonRequestedForDiv = document
                                                                                    .getElementById("select-person-requested-for-div");
                                                                            var innerHtml = '<label>Please select Person</label><br><input type="text" class="form-control" id="display-person-requested-for" required /><input type="hidden" class="form-control" id="input-person-requested-for" name="person-requested-for" required />';
                                                                            if (input.value == 'Other') {
                                                                                selectPersonRequestedForDiv.innerHTML = innerHtml;
                                                                                $('#display-person-requested-for').keypress(function () {
                                                                                    var items = [];
                                                                                    $.ajax({
                                                                                        url: '/travel-management/staffs',
                                                                                        method: 'GET',
                                                                                        data: '',
                                                                                        success: function (data) {
                                                                                            for (var i = 0; i < data.length; i++) {
                                                                                                var item = {
                                                                                                    label: data[i].name,
                                                                                                    value: data[i].username
                                                                                                };
                                                                                                items[i] = item;
                                                                                            }
                                                                                        }
                                                                                    });
                                                                                    $("#display-person-requested-for").autocomplete({
                                                                                        source: items,
                                                                                        select: function (event, ui) {
                                                                                            event.preventDefault();
                                                                                            $("#display-person-requested-for").val(ui.item.label); // display the selected text
                                                                                            $("#input-person-requested-for").val(ui.item.value); // save selected id to hidden input
                                                                                        }
                                                                                    });
                                                                                });
                                                                            } else {
                                                                                selectPersonRequestedForDiv.innerHTML = '';
                                                                            }
                                                                        }
                                                                    </script>

                                                                    <div class="form-group">
                                                                        <label for="inputRemark">Description *</label>
                                                                        <textarea id="inputRemark" class="form-control"
                                                                                  th:field="*{travel.remark}" placeholder="Remark" required></textarea>
                                                                    </div>

                                                                    <div class="row">
                                                                        <div
                                                                            class="form-group col-sm-2 col-lg-2 col-xl-2 col-md-2 col-xs-2">
                                                                            <input type=submit class="btn btn-block btn-primary"
                                                                                   value="Request">
                                                                        </div>
                                                                    </div>



                                                                    <!--/*/ <th:block th:include="@{includes/components} :: modal"></th:block> /*/-->

                                                                    <script>
                                                                        var dateToday = new Date();
                                                                        $('#travelling-date, #returning-date, #transport-requirement-date').datepicker({
                                                                            minDate: dateToday,
                                                                            dateFormat: "d/m/yy"
                                                                        });

                                                                    </script>




                                                                    </form>
                                                                    </div>
                                                                    </div>

                                                                    </div>

                                                                    <!-- /.tab-pane -->
                                                                    </div>
                                                                    <!-- /.tab-content -->
                                                                    </div>
                                                                    <!-- /.nav-tabs-custom -->
                                                                    </div>
                                                                    <!-- /.col -->
                                                                    </div>

                                                                    </section>

                                                                    <!-- /.Ending Main content -->




                                                                    </div>
                                                                    <!-- /.content-wrapper -->
                                                                    <footer class="main-footer">
                                                                        <div class="pull-right hidden-xs">
                                                                            <b>Version</b> 2.4.0
                                                                        </div>
                                                                        <strong>Copyright &copy; 2014-2016 <a
                                                                                href="https://adminlte.io">Almsaeed Studio</a>.
                                                                        </strong> All rights reserved.
                                                                    </footer>

                                                                    <!-- Control Sidebar -->
                                                                    <aside class="control-sidebar control-sidebar-dark">
                                                                        <!-- Create the tabs -->
                                                                        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
                                                                            <li><a href="#control-sidebar-home-tab" data-toggle="tab"><i
                                                                                        class="fa fa-home"></i></a></li>
                                                                            <li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i
                                                                                        class="fa fa-gears"></i></a></li>
                                                                        </ul>
                                                                        <!-- Tab panes -->
                                                                        <div class="tab-content">
                                                                            <!-- Home tab content -->
                                                                            <div class="tab-pane" id="control-sidebar-home-tab">
                                                                                <h3 class="control-sidebar-heading">Recent Activity</h3>
                                                                                <ul class="control-sidebar-menu">
                                                                                    <li><a href="javascript:void(0)"> <i
                                                                                                class="menu-icon fa fa-birthday-cake bg-red"></i>

                                                                                            <div class="menu-info">
                                                                                                <h4 class="control-sidebar-subheading">Langdon's Birthday</h4>

                                                                                                <p>Will be 23 on April 24th</p>
                                                                                            </div>
                                                                                        </a></li>
                                                                                    <li><a href="javascript:void(0)"> <i
                                                                                                class="menu-icon fa fa-user bg-yellow"></i>

                                                                                            <div class="menu-info">
                                                                                                <h4 class="control-sidebar-subheading">Frodo Updated His
                                                                                                    Profile</h4>

                                                                                                <p>New phone +1(800)555-1234</p>
                                                                                            </div>
                                                                                        </a></li>
                                                                                    <li><a href="javascript:void(0)"> <i
                                                                                                class="menu-icon fa fa-envelope-o bg-light-blue"></i>

                                                                                            <div class="menu-info">
                                                                                                <h4 class="control-sidebar-subheading">Nora Joined Mailing
                                                                                                    List</h4>

                                                                                                <p>nora@example.com</p>
                                                                                            </div>
                                                                                        </a></li>
                                                                                    <li><a href="javascript:void(0)"> <i
                                                                                                class="menu-icon fa fa-file-code-o bg-green"></i>

                                                                                            <div class="menu-info">
                                                                                                <h4 class="control-sidebar-subheading">Cron Job 254
                                                                                                    Executed</h4>

                                                                                                <p>Execution time 5 seconds</p>
                                                                                            </div>
                                                                                        </a></li>
                                                                                </ul>
                                                                                <!-- /.control-sidebar-menu -->

                                                                                <h3 class="control-sidebar-heading">Tasks Progress</h3>
                                                                                <ul class="control-sidebar-menu">
                                                                                    <li><a href="javascript:void(0)">
                                                                                            <h4 class="control-sidebar-subheading">
                                                                                                Custom Template Design <span
                                                                                                    class="label label-danger pull-right">70%</span>
                                                                                            </h4>

                                                                                            <div class="progress progress-xxs">
                                                                                                <div class="progress-bar progress-bar-danger"
                                                                                                     style="width: 70%"></div>
                                                                                            </div>
                                                                                        </a></li>
                                                                                    <li><a href="javascript:void(0)">
                                                                                            <h4 class="control-sidebar-subheading">
                                                                                                Update Resume <span class="label label-success pull-right">95%</span>
                                                                                            </h4>

                                                                                            <div class="progress progress-xxs">
                                                                                                <div class="progress-bar progress-bar-success"
                                                                                                     style="width: 95%"></div>
                                                                                            </div>
                                                                                        </a></li>
                                                                                    <li><a href="javascript:void(0)">
                                                                                            <h4 class="control-sidebar-subheading">
                                                                                                Laravel Integration <span
                                                                                                    class="label label-warning pull-right">50%</span>
                                                                                            </h4>

                                                                                            <div class="progress progress-xxs">
                                                                                                <div class="progress-bar progress-bar-warning"
                                                                                                     style="width: 50%"></div>
                                                                                            </div>
                                                                                        </a></li>
                                                                                    <li><a href="javascript:void(0)">
                                                                                            <h4 class="control-sidebar-subheading">
                                                                                                Back End Framework <span class="label label-primary pull-right">68%</span>
                                                                                            </h4>

                                                                                            <div class="progress progress-xxs">
                                                                                                <div class="progress-bar progress-bar-primary"
                                                                                                     style="width: 68%"></div>
                                                                                            </div>
                                                                                        </a></li>
                                                                                </ul>
                                                                                <!-- /.control-sidebar-menu -->

                                                                            </div>
                                                                            <!-- /.tab-pane -->
                                                                            <!-- Stats tab content -->
                                                                            <div class="tab-pane" id="control-sidebar-stats-tab">Stats Tab
                                                                                Content</div>
                                                                            <!-- /.tab-pane -->
                                                                            <!-- Settings tab content -->
                                                                            <div class="tab-pane" id="control-sidebar-settings-tab">
                                                                                <form method="post">
                                                                                    <h3 class="control-sidebar-heading">General Settings</h3>

                                                                                    <div class="form-group">
                                                                                        <label class="control-sidebar-subheading"> Report panel
                                                                                            usage <input type="checkbox" class="pull-right" checked>
                                                                                        </label>

                                                                                        <p>Some information about this general settings option</p>
                                                                                    </div>
                                                                                    <!-- /.form-group -->

                                                                                    <div class="form-group">
                                                                                        <label class="control-sidebar-subheading"> Allow mail
                                                                                            redirect <input type="checkbox" class="pull-right" checked>
                                                                                        </label>

                                                                                        <p>Other sets of options are available</p>
                                                                                    </div>
                                                                                    <!-- /.form-group -->

                                                                                    <div class="form-group">
                                                                                        <label class="control-sidebar-subheading"> Expose author
                                                                                            name in posts <input type="checkbox" class="pull-right" checked>
                                                                                        </label>

                                                                                        <p>Allow the user to show his name in blog posts</p>
                                                                                    </div>
                                                                                    <!-- /.form-group -->

                                                                                    <h3 class="control-sidebar-heading">Chat Settings</h3>

                                                                                    <div class="form-group">
                                                                                        <label class="control-sidebar-subheading"> Show me as
                                                                                            online <input type="checkbox" class="pull-right" checked>
                                                                                        </label>
                                                                                    </div>
                                                                                    <!-- /.form-group -->

                                                                                    <div class="form-group">
                                                                                        <label class="control-sidebar-subheading"> Turn off
                                                                                            notifications <input type="checkbox" class="pull-right">
                                                                                        </label>
                                                                                    </div>
                                                                                    <!-- /.form-group -->

                                                                                    <div class="form-group">
                                                                                        <label class="control-sidebar-subheading"> Delete chat
                                                                                            history <a href="javascript:void(0)" class="text-red pull-right"><i
                                                                                                    class="fa fa-trash-o"></i></a>
                                                                                        </label>
                                                                                    </div>
                                                                                    <!-- /.form-group -->
                                                                                </form>
                                                                            </div>
                                                                            <!-- /.tab-pane -->
                                                                        </div>
                                                                    </aside>
                                                                    <!-- /.control-sidebar -->
                                                                    <!-- Add the sidebar's background. This div must be placed
                                                           immediately after the control sidebar -->
                                                                    <div class="control-sidebar-bg"></div>
                                                                    </div>
                                                                    <!-- ./wrapper -->

                                                                    <!--/*/ <th:block th:include="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
                                                                    </body>
                                                                    </html>
