<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<!-- Head start -->

<!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->

<!-- Head end -->



<body class="hold-transition skin-blue sidebar-mini">
	<div class="" style="background-color: #222d32;">

		<header class="main-header">
			<!-- Logo -->
			<a th:href="@{/}" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>EWSD</b></span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-envelope-o"></i> <span class="label label-success">4</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 4 messages</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- start message --> <a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Support Team <small><i class="fa fa-clock-o"></i> 5
														mins</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a>
										</li>
										<!-- end message -->
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													AdminLTE Design Team <small><i
														class="fa fa-clock-o"></i> 2 hours</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Developers <small><i class="fa fa-clock-o"></i>
														Today</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Sales Department <small><i class="fa fa-clock-o"></i>
														Yesterday</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Reviewers <small><i class="fa fa-clock-o"></i> 2
														days</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">See All Messages</a></li>
							</ul></li>
						<!-- Notifications: style can be found in dropdown.less -->
						<li class="dropdown notifications-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-bell-o"></i> <span class="label label-warning">10</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 10 notifications</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li><a href="#"> <i class="fa fa-users text-aqua"></i>
												5 new members joined today
										</a></li>
										<li><a href="#"> <i class="fa fa-warning text-yellow"></i>
												Very long description here that may not fit into the page
												and may cause design problems
										</a></li>
										<li><a href="#"> <i class="fa fa-users text-red"></i>
												5 new members joined
										</a></li>
										<li><a href="#"> <i
												class="fa fa-shopping-cart text-green"></i> 25 sales made
										</a></li>
										<li><a href="#"> <i class="fa fa-user text-red"></i>
												You changed your username
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">View all</a></li>
							</ul></li>
						<!-- Tasks: style can be found in dropdown.less -->
						<li class="dropdown tasks-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-flag-o"></i> <span class="label label-danger">9</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 9 tasks</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Design some buttons <small class="pull-right">20%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-aqua"
														style="width: 20%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">20% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Create a nice theme <small class="pull-right">40%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-green"
														style="width: 40%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">40% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Some task I need to do <small class="pull-right">60%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-red"
														style="width: 60%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">60% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Make beautiful transitions <small class="pull-right">80%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-yellow"
														style="width: 80%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">80% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
									</ul>
								</li>
								<li class="footer"><a href="#">View all tasks</a></li>
							</ul></li>
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
								class="user-image" alt="User Image"> <span
								class="hidden-xs" th:text="${usr.name}"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
									class="img-circle" alt="User Image">

									<p>
										<th:block th:text="${usr.name}"></th:block>
									</p></li>
								<!-- Menu Body -->
								
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">Profile</a>
									</div>
									<div class="pull-right">
										<a th:href="@{/logout}" class="btn btn-default btn-flat">Sign
											out</a>
									</div>
								</li>
							</ul></li>
						<!-- Control Sidebar Toggle Button -->
						
					</ul>
				</div>
			</nav>
		</header>






		<!-- Left side column. contains the logo and sidebar -->



		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
				Sidebar user panel
				<div class="user-panel">
					<div class="pull-left image">
						<img th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
							class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p th:text="${usr.name}"></p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<!-- 				search form -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..."> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- 				/.search form sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu" data-widget="tree">


					<li class="header">MAIN NAVIGATION</li>



					<!-- 					<li class="active treeview menu-open"><a href="#"> <i -->
					<!-- 							class="fa fa-dashboard"></i> <span>Manage Roles</span> <span -->
					<!-- 							class="pull-right-container"> <i -->
					<!-- 								class="fa fa-angle-left pull-right"></i> -->
					<!-- 						</span> -->
					<!-- 					</a> -->
					<!-- 						<ul class="treeview-menu"> -->
					<!-- 							<li class="active"><a th:href="@{/admin/create-role}"><i -->
					<!-- 									class="fa fa-circle-o"></i> Create Role</a></li> -->
					<!-- 							<li><a th:href="@{/admin/view-all-roles}"><i -->
					<!-- 									class="fa fa-circle-o"></i> View All Roles</a></li> -->
					<!-- 						</ul></li> -->
					<!-- 					<li class="treeview"><a href="#"> <i class="fa fa-files-o"></i> -->
					<!-- 							<span>Manage Tags</span> <span class="pull-right-container"> -->
					<!-- 								<i class="fa fa-angle-left pull-right"></i> -->
					<!-- 						</span> -->
					<!-- 					</a> -->
					<!-- 						<ul class="treeview-menu"> -->
					<!-- 							<li><a th:href="@{/admin/create-tag}"><i -->
					<!-- 									class="fa fa-circle-o"></i> Create Tag</a></li> -->
					<!-- 							<li><a th:href="@{/admin//view-all-tags}"><i -->
					<!-- 									class="fa fa-circle-o"></i> View Tags</a></li> -->
					<!-- 						</ul></li> -->



				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					QA <small>Board</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>


			<!-- Main content -->



			<section class="content">
				<div class="row">
					
					<!-- /.col -->
					<div class="col-md-12">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li><a th:href="@{/ideas}">Ideas</a></li>
								<li class="active"><a th:href="@{/student/activity}">Activity</a></li>
								<li ><a th:href="@{/student/timeline}">Timeline</a></li>
								<li><a th:href="@{/student/post-new-idea}">Post an idea</a></li>
							</ul>
							<div class="tab-content">
								<div class="active tab-pane" id="activity">
									<!-- Post -->
									<div class="post">
										<div class="user-block">
											<img class="img-circle img-bordered-sm"
												src="../../dist/img/user1-128x128.jpg" alt="user image">
											<span class="username"> <a href="#">Jonathan Burke
													Jr.</a> <a href="#" class="pull-right btn-box-tool"><i
													class="fa fa-times"></i></a>
											</span> <span class="description">Shared publicly - 7:30 PM
												today</span>
										</div>
										<!-- /.user-block -->
										<p>Lorem ipsum represents a long-held tradition for
											designers, typographers and the like. Some people hate it and
											argue for its demise, but others ignore the hate as they
											create awesome tools to help create filler text for everyone
											from bacon lovers to Charlie Sheen fans.</p>
										<ul class="list-inline">
											<li><a href="#" class="link-black text-sm"><i
													class="fa fa-share margin-r-5"></i> Share</a></li>
											<li><a href="#" class="link-black text-sm"><i
													class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
											<li class="pull-right"><a href="#"
												class="link-black text-sm"><i
													class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
										</ul>

										<input class="form-control input-sm" type="text"
											placeholder="Type a comment">
									</div>
									<!-- /.post -->

									<!-- Post -->
									<div class="post clearfix">
										<div class="user-block">
											<img class="img-circle img-bordered-sm"
												src="../../dist/img/user7-128x128.jpg" alt="User Image">
											<span class="username"> <a href="#">Sarah Ross</a> <a
												href="#" class="pull-right btn-box-tool"><i
													class="fa fa-times"></i></a>
											</span> <span class="description">Sent you a message - 3 days
												ago</span>
										</div>
										<!-- /.user-block -->
										<p>Lorem ipsum represents a long-held tradition for
											designers, typographers and the like. Some people hate it and
											argue for its demise, but others ignore the hate as they
											create awesome tools to help create filler text for everyone
											from bacon lovers to Charlie Sheen fans.</p>

										<form class="form-horizontal">
											<div class="form-group margin-bottom-none">
												<div class="col-sm-9">
													<input class="form-control input-sm" placeholder="Response">
												</div>
												<div class="col-sm-3">
													<button type="submit"
														class="btn btn-danger pull-right btn-block btn-sm">Send</button>
												</div>
											</div>
										</form>
									</div>
									<!-- /.post -->

									<!-- Post -->
									<div class="post">
										<div class="user-block">
											<img class="img-circle img-bordered-sm"
												src="../../dist/img/user6-128x128.jpg" alt="User Image">
											<span class="username"> <a href="#">Adam Jones</a> <a
												href="#" class="pull-right btn-box-tool"><i
													class="fa fa-times"></i></a>
											</span> <span class="description">Posted 5 photos - 5 days
												ago</span>
										</div>
										<!-- /.user-block -->
										<div class="row margin-bottom">
											<div class="col-sm-6">
												<img class="img-responsive" src="../../dist/img/photo1.png"
													alt="Photo">
											</div>
											<!-- /.col -->
											<div class="col-sm-6">
												<div class="row">
													<div class="col-sm-6">
														<img class="img-responsive"
															src="../../dist/img/photo2.png" alt="Photo"> <br>
														<img class="img-responsive"
															src="../../dist/img/photo3.jpg" alt="Photo">
													</div>
													<!-- /.col -->
													<div class="col-sm-6">
														<img class="img-responsive"
															src="../../dist/img/photo4.jpg" alt="Photo"> <br>
														<img class="img-responsive"
															src="../../dist/img/photo1.png" alt="Photo">
													</div>
													<!-- /.col -->
												</div>
												<!-- /.row -->
											</div>
											<!-- /.col -->
										</div>
										<!-- /.row -->

										<ul class="list-inline">
											<li><a href="#" class="link-black text-sm"><i
													class="fa fa-share margin-r-5"></i> Share</a></li>
											<li><a href="#" class="link-black text-sm"><i
													class="fa fa-thumbs-o-up margin-r-5"></i> Like</a></li>
											<li class="pull-right"><a href="#"
												class="link-black text-sm"><i
													class="fa fa-comments-o margin-r-5"></i> Comments (5)</a></li>
										</ul>

										<input class="form-control input-sm" type="text"
											placeholder="Type a comment">
									</div>
									<!-- /.post -->
								</div>
								<!-- /.tab-pane -->

								
							</div>
							<!-- /.tab-content -->
						</div>
						<!-- /.nav-tabs-custom -->
					</div>
					<!-- /.col -->
				</div>

			</section>

			<!-- /.Ending Main content -->




		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 2.4.0
			</div>
			<strong>Copyright &copy; 2014-2016 <a
				href="https://adminlte.io">Almsaeed Studio</a>.
			</strong> All rights reserved.
		</footer>

		
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<!--/*/ <th:block th:include="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
</body>
</html>
