<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<!-- Head start -->

<!--/*/ <th:block th:include="@{includes/includes} :: head"></th:block> /*/-->

<!-- Head end -->



<body class="hold-transition skin-blue sidebar-mini">
	<div class="" style="background-color: #222d32;">

		<header class="main-header">
			<!-- Logo -->
			<a th:href="@{/}" class="logo"> <!-- mini logo for sidebar mini 50x50 pixels -->
				<span class="logo-mini"><b>A</b>LT</span> <!-- logo for regular state and mobile devices -->
				<span class="logo-lg"><b>EWSD</b></span>
			</a>
			<!-- Header Navbar: style can be found in header.less -->
			<nav class="navbar navbar-static-top">
				<!-- Sidebar toggle button-->
				<a href="#" class="sidebar-toggle" data-toggle="push-menu"
					role="button"> <span class="sr-only">Toggle navigation</span>
				</a>

				<div class="navbar-custom-menu">
					<ul class="nav navbar-nav">
						<!-- Messages: style can be found in dropdown.less-->
						<li class="dropdown messages-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-envelope-o"></i> <span class="label label-success">4</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 4 messages</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- start message --> <a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user2-160x160.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Support Team <small><i class="fa fa-clock-o"></i> 5
														mins</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a>
										</li>
										<!-- end message -->
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													AdminLTE Design Team <small><i
														class="fa fa-clock-o"></i> 2 hours</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Developers <small><i class="fa fa-clock-o"></i>
														Today</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user3-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Sales Department <small><i class="fa fa-clock-o"></i>
														Yesterday</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
										<li><a href="#">
												<div class="pull-left">
													<img
														th:src="@{resources/contents/lib/img/user4-128x128.jpg}"
														class="img-circle" alt="User Image">
												</div>
												<h4>
													Reviewers <small><i class="fa fa-clock-o"></i> 2
														days</small>
												</h4>
												<p>Why not buy a new awesome theme?</p>
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">See All Messages</a></li>
							</ul></li>
						<!-- Notifications: style can be found in dropdown.less -->
						<li class="dropdown notifications-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-bell-o"></i> <span class="label label-warning">10</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 10 notifications</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li><a href="#"> <i class="fa fa-users text-aqua"></i>
												5 new members joined today
										</a></li>
										<li><a href="#"> <i class="fa fa-warning text-yellow"></i>
												Very long description here that may not fit into the page
												and may cause design problems
										</a></li>
										<li><a href="#"> <i class="fa fa-users text-red"></i>
												5 new members joined
										</a></li>
										<li><a href="#"> <i
												class="fa fa-shopping-cart text-green"></i> 25 sales made
										</a></li>
										<li><a href="#"> <i class="fa fa-user text-red"></i>
												You changed your username
										</a></li>
									</ul>
								</li>
								<li class="footer"><a href="#">View all</a></li>
							</ul></li>
						<!-- Tasks: style can be found in dropdown.less -->
						<li class="dropdown tasks-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <i
								class="fa fa-flag-o"></i> <span class="label label-danger">9</span>
						</a>
							<ul class="dropdown-menu">
								<li class="header">You have 9 tasks</li>
								<li>
									<!-- inner menu: contains the actual data -->
									<ul class="menu">
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Design some buttons <small class="pull-right">20%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-aqua"
														style="width: 20%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">20% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Create a nice theme <small class="pull-right">40%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-green"
														style="width: 40%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">40% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Some task I need to do <small class="pull-right">60%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-red"
														style="width: 60%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">60% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
										<li>
											<!-- Task item --> <a href="#">
												<h3>
													Make beautiful transitions <small class="pull-right">80%</small>
												</h3>
												<div class="progress xs">
													<div class="progress-bar progress-bar-yellow"
														style="width: 80%" role="progressbar" aria-valuenow="20"
														aria-valuemin="0" aria-valuemax="100">
														<span class="sr-only">80% Complete</span>
													</div>
												</div>
										</a>
										</li>
										<!-- end task item -->
									</ul>
								</li>
								<li class="footer"><a href="#">View all tasks</a></li>
							</ul></li>
						<!-- User Account: style can be found in dropdown.less -->
						<li class="dropdown user user-menu"><a href="#"
							class="dropdown-toggle" data-toggle="dropdown"> <img
								th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
								class="user-image" alt="User Image"> <span
								class="hidden-xs" th:text="${usr.name}"></span>
						</a>
							<ul class="dropdown-menu">
								<!-- User image -->
								<li class="user-header"><img
									th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
									class="img-circle" alt="User Image">

									<p>
										<th:block th:text="${usr.name}"></th:block>
									</p></li>
								<!-- Menu Body -->
								
								<!-- Menu Footer-->
								<li class="user-footer">
									<div class="pull-left">
										<a href="#" class="btn btn-default btn-flat">Profile</a>
									</div>
									<div class="pull-right">
										<a th:href="@{/logout}" class="btn btn-default btn-flat">Sign
											out</a>
									</div>
								</li>
							</ul></li>
						<!-- Control Sidebar Toggle Button -->
						
					</ul>
				</div>
			</nav>
		</header>






		<!-- Left side column. contains the logo and sidebar -->



		<aside class="main-sidebar">
			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">
<!-- 				Sidebar user panel -->
				<div class="user-panel">
					<div class="pull-left image">
						<img th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
							class="img-circle" alt="User Image">
					</div>
					<div class="pull-left info">
						<p th:text="${usr.name}"></p>
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>
				<!-- 				search form -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control"
							placeholder="Search..."> <span class="input-group-btn">
							<button type="submit" name="search" id="search-btn"
								class="btn btn-flat">
								<i class="fa fa-search"></i>
							</button>
						</span>
					</div>
				</form>
				<!-- 				/.search form sidebar menu: : style can be found in sidebar.less -->
				<ul class="sidebar-menu" data-widget="tree">


					<li class="header">MAIN NAVIGATION</li>



					<!-- 					<li class="active treeview menu-open"><a href="#"> <i -->
					<!-- 							class="fa fa-dashboard"></i> <span>Manage Roles</span> <span -->
					<!-- 							class="pull-right-container"> <i -->
					<!-- 								class="fa fa-angle-left pull-right"></i> -->
					<!-- 						</span> -->
					<!-- 					</a> -->
					<!-- 						<ul class="treeview-menu"> -->
					<!-- 							<li class="active"><a th:href="@{/admin/create-role}"><i -->
					<!-- 									class="fa fa-circle-o"></i> Create Role</a></li> -->
					<!-- 							<li><a th:href="@{/admin/view-all-roles}"><i -->
					<!-- 									class="fa fa-circle-o"></i> View All Roles</a></li> -->
					<!-- 						</ul></li> -->
					<!-- 					<li class="treeview"><a href="#"> <i class="fa fa-files-o"></i> -->
					<!-- 							<span>Manage Tags</span> <span class="pull-right-container"> -->
					<!-- 								<i class="fa fa-angle-left pull-right"></i> -->
					<!-- 						</span> -->
					<!-- 					</a> -->
					<!-- 						<ul class="treeview-menu"> -->
					<!-- 							<li><a th:href="@{/admin/create-tag}"><i -->
					<!-- 									class="fa fa-circle-o"></i> Create Tag</a></li> -->
					<!-- 							<li><a th:href="@{/admin//view-all-tags}"><i -->
					<!-- 									class="fa fa-circle-o"></i> View Tags</a></li> -->
					<!-- 						</ul></li> -->



				</ul>
			</section>
			<!-- /.sidebar -->
		</aside>

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					QA <small>Board</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li class="active">Dashboard</li>
				</ol>
			</section>


			<!-- Main content -->



			<section class="content">
				<div class="row">
					<div class="col-md-3">

						<!-- Profile Image -->
						<div class="box box-primary">
							<div class="box-body box-profile">
								<img class="profile-user-img img-responsive img-circle"
									th:src="@{/file(fileId=${usr.userImage.attachmentId})}"
									alt="User profile picture">

								<h3 class="profile-username text-center" th:text="${usr.name}"></h3>

								<p class="text-muted text-center" th:text="${usr.department}"></p>

								<ul class="list-group list-group-unbordered">
									<li class="list-group-item"><b>Total Ideas</b> <a
										class="pull-right" th:text="${totalIdeas}"></a></li>
									<li class="list-group-item"><b>Total Categories</b> <a
										class="pull-right" th:text="${totalTags}"></a></li>
									<li class="list-group-item"><b>Total contributions</b> <a
										class="pull-right" onmouseover="describeTotalContributions()" th:text="${totalContributions}"></a>
										<script type="text/javascript" th:inline="javascript">
										/*
										*
										*	Check user Idle time 
										*
										*/

										var idleTime = 0;
										$(document).ready(function () {
										    //Increment the idle time counter every minute.
										    var idleInterval = setInterval(timerIncrement, 60000); // 1 minute

										    //Zero the idle timer on mouse movement.
										    $(this).mousemove(function (e) {
										        idleTime = 0;
										    });
										    $(this).keypress(function (e) {
										        idleTime = 0;
										    });
										});

										function timerIncrement() {
										    idleTime = idleTime + 1;
										    console.log(idleTime);
										    if (idleTime > 19) { // 20 minutes
										        window.location.reload();
										    }
										}
										</script>
									</li>
								</ul>

								<!-- 								<a href="#" class="btn btn-primary btn-block"><b>Follow</b></a> -->
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->

						<!-- About Me Box -->
						<div class="box box-primary">
							<div class="box-header with-border">
								<h3 class="box-title">About Me</h3>
							</div>
							<!-- /.box-header -->
							<div class="box-body">
								<strong><i class="fa fa-book margin-r-5"></i> Education</strong>

								<p class="text-muted">B.S. in Computer Science from the
									University of Tennessee at Knoxville</p>

								<hr>

								<strong><i class="fa fa-map-marker margin-r-5"></i>
									Location</strong>

								<p class="text-muted">Malibu, California</p>

								<hr>

								<strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

								<p>
									<span class="label label-danger">UI Design</span> <span
										class="label label-success">Coding</span> <span
										class="label label-info">Javascript</span> <span
										class="label label-warning">PHP</span> <span
										class="label label-primary">Node.js</span>
								</p>

								<hr>

								<strong><i class="fa fa-file-text-o margin-r-5"></i>
									Notes</strong>

								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									Etiam fermentum enim neque.</p>
							</div>
							<!-- /.box-body -->
						</div>
						<!-- /.box -->
					</div>
					<!-- /.col -->
					<div class="col-md-9">
						<div class="nav-tabs-custom">
							<ul class="nav nav-tabs">
								<li><a th:href="@{/ideas}">Ideas</a></li>
								<li><a th:href="@{/student/activity}">Activity</a></li>
								<li class="active"><a th:href="@{/student/timeline}">Timeline</a></li>
								<li><a th:href="@{/student/post-new-idea}">Post an idea</a></li>
							</ul>
							<div class="tab-content">

								<!-- /.tab-pane -->
								<div class="active tab-pane" id="timeline">
									<!-- The timeline -->
									<th:block th:each="date : ${dates}">
										<ul class="timeline timeline-inverse">
											<!-- timeline time label -->
											<li class="time-label"><span class="bg-red"
												th:text="${date.key}"> </span></li>
											<!-- /.timeline-label -->
											<!-- timeline item -->
											<th:block th:each="timeline : ${date.value}">

												<li>


													<div class="timeline-item post">
														<span class="time" th:text=" ${timeline.time}"><i
															class="fa fa-clock-o"></i> </span>

														<h3 class="timeline-header">
															<a th:href="@{/profile(id=${timeline.postedBy.username})}"
																th:text="${timeline.postedBy.name}"></a></a> Posted
														</h3>

														<div class="timeline-body">
															<h3 th:text="${timeline.idea.ideaTitle}"></h3>
															<p th:utext="${timeline.idea.ideaBody}"></p>
															<p>
																<span>Category: </span>&nbsp; <span
																	class="label label-danger"
																	th:text="${timeline.idea.tag.tagName}"></span>
															</p>
														</div>
														<div class="timeline-footer">



															<ul class="list-inline">
																<li><a class="link-black text-sm"
																	th:text="${'View full post'}"
																	th:href="@{'/ideas/'+${timeline.idea.ideaId}}"> </a></li>
																<th:block>|
																	<li><span
																		th:text="${timeline.totalThumbUp}"
																		th:id="'idea_'+${timeline.idea.ideaId}+'_thumbup_count'"></span></li>
																	<li><a href="#" onclick="onThumbUpClick(this)"
																		th:id="'thumb-up_'+${timeline.idea.ideaId}"
																		th:attr="data-pid=${timeline.idea.ideaId},
																		 data-total-tup=${timeline.totalThumbUp},
																		  data-user=${usr.username}, 
																		  data-reactionOfCurrentUser=${timeline.reactionOfCurrentUser}"
																		class="link-black text-sm"><i
																			class="fa fa-thumbs-o-up margin-r-5"></i> Thumb up</a></li>
																</th:block>
																<th:block>|
																	<li><span
																		th:text="${timeline.totalThumbDown}"
																		th:id="'idea_'+${timeline.idea.ideaId}+'_thumbdown_count'"></span></li>
																	<li><a href="#" onclick="onThumbDownClick(this)"
																		th:id="'thumb-down_'+${timeline.idea.ideaId}"
																		th:attr="data-pid=${timeline.idea.ideaId}, 
																		 data-total-tdown=${timeline.totalThumbDown},
																		 data-user=${usr.username}, 
																		 data-reactionOfCurrentUser=${timeline.reactionOfCurrentUser}"
																		class="link-black text-sm"><i
																			class="fa fa-thumbs-o-down margin-r-5"></i> Thumb
																			down</a> <script type="text/javascript"
																			th:inline="javascript">
																			/*<![CDATA[*/
																		    var ideaId = /*[[${timeline.idea.ideaId}]]*/;
																			var reactionOfCurrentUser = /*[[${timeline.reactionOfCurrentUser}]]*/;
																			/*]]>*/
																			
																			if(reactionOfCurrentUser==0){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-down margin-r-5");
																			}else if(reactionOfCurrentUser==1){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-down margin-r-5");
																			}else if(reactionOfCurrentUser==2){
																				document.querySelector("#thumb-up_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-down_"+ideaId+" > i").removeAttribute("class");
																				document.querySelector("#thumb-up_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-o-up margin-r-5");
																				document.querySelector("#thumb-down_"+ideaId+" > i").setAttribute("class", "fa fa-thumbs-down margin-r-5");
																			}

																			function onThumbUpClick(element){
																				console.log($(element).attr("data-pid"));
																				reactionOfCurrentUser = $(element).attr("data-reactionofcurrentuser");
																				
																				ideaId =$(element).attr("data-pid");
																				var uid=$(element).attr("data-user");
																				console.log("Idea ID = "+ideaId+"; Reaction Type = "+reactionOfCurrentUser);
																				var totalThumbsUp = $(element).attr("data-total-tup");
																				$("idea_"+ideaId+"_thumbup_count").text(totalThumbsUp);
																				
																				if(reactionOfCurrentUser!=1){
																					$("#idea_"+ideaId+"_thumbup_count").html(parseInt($("#idea_"+ideaId+"_thumbup_count").text())+1);
																					$("#thumb-up_"+ideaId+" > i").attr("class", "fa fa-thumbs-up margin-r-5");
																					if(reactionOfCurrentUser==2){
																						$("#idea_"+ideaId+"_thumbdown_count").html(parseInt($("#idea_"+ideaId+"_thumbdown_count").text())-1);
																						$("#thumb-down_"+ideaId+" > i").attr("class", "fa fa-thumbs-o-down margin-r-5");
																					}
																					document.querySelector("#thumb-up_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-up_"+ideaId).setAttribute("data-reactionofcurrentuser", "1");
																					document.querySelector("#thumb-down_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-down_"+ideaId).setAttribute("data-reactionofcurrentuser", "1");
																				}
																				$.ajax({
																					  type: "GET",
																					  url: "/ewsd/student/ideas/"+ideaId+"/reactions?uid="+uid+"&reactionType=1",
																				});
																		
																			}


																			function onThumbDownClick(element){
																				console.log($(element).attr("data-pid"));
																				reactionOfCurrentUser = $(element).attr("data-reactionOfCurrentUser");

																				ideaId =$(element).attr("data-pid");
																				var uid=$(element).attr("data-user");
																				console.log("Idea ID = "+ideaId+"; Reaction Type = "+reactionOfCurrentUser);
																				var totalThumbsDown = $(element).attr("data-total-tdown");
																				$("idea_"+ideaId+"_thumbdown_count").text(totalThumbsDown);
																				if(reactionOfCurrentUser!=2){
																					$("#idea_"+ideaId+"_thumbdown_count").html(parseInt($("#idea_"+ideaId+"_thumbdown_count").text())+1);
																					$("#thumb-down_"+ideaId+" > i").attr("class", "fa fa-thumbs-down margin-r-5");
																					if(reactionOfCurrentUser==1){
																						$("#idea_"+ideaId+"_thumbup_count").html(parseInt($("#idea_"+ideaId+"_thumbup_count").text())-1);
																						$("#thumb-up_"+ideaId+" > i").attr("class", "fa fa-thumbs-o-up margin-r-5");
																					}
																					document.querySelector("#thumb-up_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-up_"+ideaId).setAttribute("data-reactionofcurrentuser", "2");
																					document.querySelector("#thumb-down_"+ideaId).removeAttribute("data-reactionofcurrentuser");
																					document.querySelector("#thumb-down_"+ideaId).setAttribute("data-reactionofcurrentuser", "2");
// 																					
																				}
																				$.ajax({
																					  type: "GET",
																					  url: "/ewsd/student/ideas/"+ideaId+"/reactions?uid="+uid+"&reactionType=2",
																				});
																		
																			}
																			</script></li>
																</th:block>
																<br>
																<li>&nbsp;<a class="link-black text-sm"
																	th:text="${'Views'}"
																	th:href="@{/post(id=${timeline.idea.ideaId})}"> </a></li>
																<li>&nbsp;<span th:text="'100'"></span>
																</li>
																
																<li><a class="link-black text-sm"
																	th:text="${'Seen By'}"
																	th:href="@{/post(id=${timeline.idea.ideaId})}"> </a></li>
																<li>&nbsp;<span th:text="'50'"></span>&nbsp;
																</li>
																<li class="pull-right"><a href="#"
																	class="link-black text-sm"><i
																		class="fa fa-comments-o margin-r-5"></i> <span
																		th:text="${'Comments ('+timeline.totalComments+')'}"></span></a></li>
															</ul>
															<hr>

															<div class="box-body chat"
																th:id="'load-comments_'+${timeline.idea.ideaId}">
																<th:block th:each="comment : ${timeline.idea.comments}">
																	<th:block th:if="${comment.isAnonymous} == false ">
																		<div class="item">
																			<img
																				th:src="@{/file/(fileId=${comment.commentedUser.userImage.attachmentId})}"
																				alt="user image" class="offline">
																			<p class="message">
																				<a
																					th:href="@{/profile(id=${comment.commentedUser.username})}"
																					class="name"> <small
																					class="text-muted pull-right"><i
																						class="fa fa-clock-o"></i> <span
																						th:text="${#dates.format(comment.commentDateTime.time, 'dd-MM-yyyy hh:mm:ss aaa')}"></span></small> <span
																					th:text="${comment.commentedUser.name}"></span>
																				</a> <span th:text="${comment.commentBody}"></span>
																			</p>
																		</div>
																	</th:block>

																	<th:block th:if="${comment.isAnonymous} == true ">
																		<div class="item">
																			<img
																				th:src="@{/resources/contents/lib/img/anonymous.jpg}"
																				alt="user image" class="offline">

																			<p class="message">
																				<a href="#" class="name"> <small
																					class="text-muted pull-right"><i
																						class="fa fa-clock-o"></i> <span
																						th:text="${#dates.format(comment.commentDateTime.time, 'dd-MM-yyyy hh:mm:ss aaa')}"></span></small> <span
																					th:text="${'Anonymous User'}"></span>
																				</a> <span th:text="${comment.commentBody}"></span>
																			</p>
																		</div>
																	</th:block>
																	<hr>
																</th:block>
															</div>

															<th:block th:if="${timeline.tagExpired} == false ">
																<div>
																	<input class="form-control input-sm"
																		th:id="'input-comment_'+${timeline.idea.ideaId}"
																		type="text" placeholder="Type a comment"
																		onkeypress="onCommentPost(event, this)">
																		<br><input
																		type="checkbox"
																		th:id="'anonymous-comment_'+${timeline.idea.ideaId}">
																	&nbsp;&nbsp;Comment as anonymous <input
																		class="pull-right btn btn-primary btn-sm btn-flat"
																		type="submit" value="Comment"
																		th:id="'button-submit_'+${timeline.idea.ideaId}" />

																</div>


																<div class="modal modal-danger fade" id="modal-danger">
																	<div class="modal-dialog">
																		<div class="modal-content">
																			<div class="modal-header">
																				<h4 class="modal-title">Ops!</h4>
																			</div>
																			<div class="modal-body">
																				<p>Sorry, the final closure date for this
																					category has timed out.</p>
																			</div>
																			<div class="modal-footer">

																				<button type="button"
																					th:id="'modal-ok_'+${timeline.idea.ideaId}"
																					class="btn btn-outline">Ok</button>
																			</div>
																		</div>
																		<!-- /.modal-content -->
																	</div>
																	<!-- /.modal-dialog -->
																</div>


																<br>

																<script type="text/javascript" th:inline="javascript">
																
																function onCommentPost(e, commentBox){
																	var code = (e.keyCode ? e.keyCode : e.which);
																	if(code == 13) { //Enter keycode
																		var ideaId = $(commentBox).attr("id").split("_")[1];
																		var uid = /*[[${usr.username}]]*/;
																		var idea = /*[[${timeline.idea}]]*/;
																		var comment = {};
																		comment["commentId"] = new Date().getTime();
																		comment["idea"] = idea;
																		comment["commentDateTime"] = new Date().getTime();
																		comment["isAnonymous"] = $("#anonymous-comment_"+ideaId).prop("checked") ? true : false;
																		comment["commentedUser"] = /*[[${usr}]]*/;
																		comment["commentBody"] = $(commentBox).val();
																	 	console.log("#anonymous-comment_"+ideaId);
																		var url = "";
																		if($("#anonymous-comment_"+ideaId).prop("checked")==true){
																			url = "/ewsd/student/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=true";
																		}else{
																			url = "/ewsd/student/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=false";
																		}
																	 	$.ajax({
																             type: "POST",
																             contentType: "application/json",
																             url: url,
																             data: JSON.stringify(comment),
																             dataType: 'json',
																             timeout: 600000,
																             success: function (data) {
																                 console.log("Success");
																                 $(commentBox).val("");
																                 location.reload();
																             },
																             error: function (e) {
																                 console.log("Error : "+e.status);
																                 console.log(e);
																                 if(e.status==406){
																					$("#modal-ok_"+ideaId).click(function(){
																						location.reload();
																					});
																                 }
																             }
																	});
																		
																	}
																}

																var ideaId = /*[[${timeline.idea.ideaId}]]*/;
																
																$("#button-submit_"+ideaId).click(function(){
																	ideaId = /*[[${timeline.idea.ideaId}]]*/;
																	var uid = /*[[${usr.username}]]*/;
																	var idea = /*[[${timeline.idea}]]*/;
																	var comment = {};
																	comment["commentId"] = new Date().getTime();
																	comment["idea"] = idea;
																	comment["commentDateTime"] = new Date().getTime();
																	comment["isAnonymous"] = $("#anonymous-comment_"+ideaId).prop("checked") ? true : false;
																	comment["commentedUser"] = /*[[${usr}]]*/;
																	comment["commentBody"] = $("#input-comment_"+ideaId).val();
																 	console.log(comment);
																	var url = "";
																	if($("#anonymous-comment_"+ideaId).prop("checked")==true){
																		url = "/ewsd/student/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=true";
																	}else{
																		url = "/ewsd/student/ideas/"+ideaId+"/comments?uid="+uid+"&anonymous=false";
																	}
																 	$.ajax({
															             type: "POST",
															             contentType: "application/json",
															             url: url,
															             data: JSON.stringify(comment),
															             timeout: 600000,
															             success: function (data) {
															                 console.log("Success");
															                 console.log(data);
															                 $("#input-comment_"+ideaId).val("");
															                 location.reload();
															             },
															             error: function (e) {
															                 console.log("Error : "+e.status);
															                 console.log(e);
															                 if(e.status==406){
																				$("#modal-ok_"+ideaId).click(function(){
																					location.reload();
																				});
															                 }
															             }
																	});
																});
																	
																</script>
															</th:block>
														</div>
													</div>

												</li>
											</th:block>
											<!-- END timeline item -->

										</ul>
									</th:block>

								</div>
								<!-- /.tab-pane -->

								<!-- 								<div class="box-tools pull-right"> -->
								<!-- 									<ul class="pagination pagination-sm inline"> -->
								<!-- 										<li><a href="#">«</a></li> -->
								<!-- 										<li><a href="#">1</a></li> -->
								<!-- 										<li><a href="#">2</a></li> -->
								<!-- 										<li><a href="#">3</a></li> -->
								<!-- 										<li><a href="#">»</a></li> -->
								<!-- 									</ul> -->
								<!-- 								</div> -->

							</div>
							<!-- /.tab-content -->
						</div>

						<!-- Pagination -->

						<div class="box-tools pull-right">
							<ul class="pagination pagination-sm inline">
								<th:block th:if="${(currentPage-1)>0}">
									<li><a
										th:href="@{/student/timeline(page=${currentPage-1})}"
										th:text="${'&laquo;'}"></a></li>
									<li><a
										th:href="@{/student/timeline(page=${currentPage-1})}"
										th:text="${currentPage-1}"></a></li>
								</th:block>
								<li class="active"><a
									th:href="@{/student/timeline(page=${currentPage})}"
									th:text="${currentPage}"></a></li>

								<th:block th:unless="${currentPage>pages}">
									<li><a
										th:href="@{/student/timeline(page=${currentPage+1})}"
										th:text="${currentPage+1}"></a></li>
									<li><a
										th:href="@{/student/timeline(page=${currentPage+1})}"
										th:text="${'&raquo;'}"></a></li>
								</th:block>
							</ul>
						</div>

						<!-- ./Pagination -->
						<!-- /.nav-tabs-custom -->
					</div>
					<!-- /.col -->
				</div>

			</section>

			<!-- /.Ending Main content -->




		</div>
		<!-- /.content-wrapper -->
		<footer class="main-footer">
			<div class="pull-right hidden-xs">
				<b>Version</b> 2.4.0
			</div>
			<strong>Copyright &copy; 2014-2016 <a
				href="https://adminlte.io">Almsaeed Studio</a>.
			</strong> All rights reserved.
		</footer>

		
		<!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
		<div class="control-sidebar-bg"></div>
	</div>
	<!-- ./wrapper -->

	<!--/*/ <th:block th:include="@{includes/includes} :: js_components_bottom"></th:block> /*/-->
</body>
</html>
