<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
	xmlns="http://www.w3.org/1999/xhtml">

<head th:fragment="head">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>AdminLTE 2 | Dashboard</title>
<!-- Tell the browser to be responsive to screen width -->
<meta
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
	name="viewport">
<link rel="stylesheet"
	href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet"
	th:href="@{resources/contents/lib/timepicker/jquery.timepicker.min.css}">

<!-- Bootstrap 3.3.7 -->
<link rel="stylesheet"
	th:href="@{resources/contents/lib/bootstrap/dist/css/bootstrap.min.css}">
<!-- Font Awesome -->
<link rel="stylesheet"
	th:href="@{resources/contents/lib/font-awesome/css/font-awesome.min.css}">
<!-- Ionicons -->
<link rel="stylesheet"
	th:href="@{resources/contents/lib/Ionicons/css/ionicons.min.css}">
<!-- Theme style -->
<link rel="stylesheet"
	th:href="@{resources/contents/css/AdminLTE.min.css}">
<!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
<link rel="stylesheet"
	th:href="@{resources/contents/css/_all-skins.min.css}">

<!-- Morris chart -->
<link rel="stylesheet"
	th:href="@{resources/contents/lib/morris.js/morris.css}">
<!-- jvectormap -->
<link rel="stylesheet"
	th:href="@{resources/contents/lib/jvectormap/jquery-jvectormap.css}">
<!-- Date Picker -->
<link rel="stylesheet"
	th:href="@{resources/contents/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}">
<!-- Daterange picker -->
<link rel="stylesheet"
	th:href="@{resources/contents/lib/bootstrap-daterangepicker/daterangepicker.css}">
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet"
	th:href="@{resources/contents/lib/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css}">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

<!-- Google Font -->
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">


<link th:href="@{resources/contents/css/spinner.css}" type="text/css"
	rel="stylesheet">

<script th:src="@{resources/contents/lib/ckeditor/ckeditor.js}"></script>

<script th:src="@{/resources/contents/lib/ckeditor/sample.js}"></script>


<script type="text/javascript"
	th:src="@{resources/contents/lib/ckeditor/config.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{resources/contents/lib/ckeditor/skins/moono-lisa/editor.css}">
<script type="text/javascript"
	th:src="@{resources/contents/lib/ckeditor/lang/en.js}"></script>
<script type="text/javascript"
	th:src="@{resources/contents/lib/ckeditor/styles.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{resources/contents/lib/ckeditor/plugins/scayt/skins/moono-lisa/scayt.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{resources/contents/lib/ckeditor/plugins/scayt/dialogs/dialog.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{resources/contents/lib/ckeditor/plugins/tableselection/styles/tableselection.css}">
<link rel="stylesheet" type="text/css"
	th:href="@{resources/contents/lib/ckeditor/plugins/wsc/skins/moono-lisa/wsc.css}">
</head>




<div th:fragment="js_components_bottom">
	<div id="line-example"></div>

	<script type="text/javascript" th:src="@{resources/contents/lib/timepicker/jquery.timepicker.min.js}"></script>
	<!-- Bootstrap 3.3.7 -->
	<script
		th:src="@{resources/contents/lib/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- Morris.js charts -->
	<script th:src="@{resources/contents/lib/raphael/raphael.min.js}"></script>
	<script th:src="@{resources/contents/lib/morris.js/morris.min.js}"></script>
	<!-- Sparkline -->
	<script
		th:src="@{resources/contents/lib/jquery-sparkline/dist/jquery.sparkline.min.js}"></script>
	<!-- jvectormap -->
	<script
		th:src="@{resources/contents/lib/jvectormap/jvectormap/jquery-jvectormap-1.2.2.min.js}"></script>
	<script
		th:src="@{resources/contents/lib/jvectormap/jvectormap/jquery-jvectormap-world-mill-en.js}"></script>
	<!-- jQuery Knob Chart -->
	<script
		th:src="@{resources/contents/lib/jquery-knob/dist/jquery.knob.min.js}"></script>
	<!-- daterangepicker -->
	<script th:src="@{resources/contents/lib/moment/min/moment.min.js}"></script>
	<script
		th:src="@{resources/contents/lib/bootstrap-daterangepicker/daterangepicker.js}"></script>
	<!-- datepicker -->
	<script
		th:src="@{resources/contents/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
	<!-- Bootstrap WYSIHTML5 -->
	<script
		th:src="@{resources/contents/lib/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js}"></script>
	<!-- Slimscroll -->
	<script
		th:src="@{resources/contents/lib/jquery-slimscroll/jquery.slimscroll.min.js}"></script>
	<!-- FastClick -->
	<script th:src="@{resources/contents/lib/fastclick/lib/fastclick.js}"></script>
	<!-- AdminLTE App -->
	<script th:src="@{resources/contents/lib/js/adminlte.min.js}"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script th:src="@{resources/contents/lib/js/dashboard.js}"></script>
	<!-- AdminLTE for demo purposes -->
	<script th:src="@{resources/contents/lib/js/demo.js}"></script>

</div>