<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	lang="en" xmlns="http://www.w3.org/1999/xhtml">

<li class="header">MAIN NAVIGATION</li>
<li id="li-create-destination"><a th:href="@{/admin/create-destination}"> <i
		class="fa fa-files-o"></i> <span>Manage Destinations</span>

</a></li>
<li id="li-create-visiting-area"><a th:href="@{/admin/create-visiting-area}"> <i
		class="fa fa-files-o"></i> <span>Manage Visiting Areas</span>

</a></li>
<li id="li-t-and-c"><a th:href="@{/admin/create-hotel}"> <i
		class="fa fa-th"></i> <span>Manage Hotels</span>
</a></li>
<li id="li-t-and-c"><a th:href="@{/admin/set-terms-and-conditions}"> <i
		class="fa fa-th"></i> <span>Set Terms and Conditions</span>
</a></li>

</html>